.Footer_outer{
width: 100%;
border: 1px solid;
}

.Footer_inner_left{
width: 49%;
Float: left;
display:inline;
}

.Footer_inner_right{
width: 50%;
Float: right;
display:inline;
}

.reference {
    padding-top: 10px;
}
.reference2 {
    padding-bottom: 5px;
}


    /* KPI Card
    ========================================================================== */
    .correct {
        
        padding: 4px;
        
    }
    .kpi-card {
        background-color: #e1e7ed;
        height: 200px;
        padding: 4px;
        margin-bottom: 10px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: center;
    }

    .kpi-title {
        font-weight: normal;
        color: var(--highlight);
        font-size: 3.2rem;
        margin-top: 0;
        margin-bottom: 13px;
        max-width: 100%;
    }
    .kpi-ueber {
        color: var(--highlight);
      
    }
.kpi-description {
    color: var(--text);
    font-size: 1rem;
    line-height: 1.5;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 100%;
}
/* See more button
   ========================================================================== */
.button-see-more {
   font-size: 1rem;
    color: var(--text);
    border: 1px solid #cbd2db;
    border-radius: 2rem;
    background: #FFFFFF;
    padding: .37rem 1rem;
    margin-right: 6px;
    transition: all .2s;
}
.button-see-more:hover {
    background-color: #FFFFFF; /* Button background color on mouse hover */
}


/* Content Card
   ========================================================================== */
.content-card {
	background-color: var(--boxes-background);

	border-radius: 11px;
	margin-bottom: 20px;
	height: 100%;
}
.content-card-title {
	color: var(--titles);
	font-size: 1.2rem;
	line-height: 1.5;
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 13px;
	max-width: 100%;
}
.content-card-description {
	color: var(--text);
	font-size: 1rem;
	line-height: 1.5;
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 8px;
	max-width: 100%;
}
.content-card-icon {
	color: var(--highlight);
	font-size: 2rem;
	margin-bottom: 13px;
	max-width: 100%;
}
.content-card-link {
	color: var(--links);
	font-weight: bold;
	transition: all .2s;
	opacity: 1;
	max-width: 100%;
}
.content-card-link:hover {
	opacity: .7;
	text-decoration: none;
}
.content-card-button {
	color: var(--highlight);
	border: 1px solid var(--highlight);
    background: transparent;
	display: inline-block;
	text-align: center;
	font-size: .867rem;
    border-radius: 4px;
    padding: .5rem 1.15rem;
    text-decoration: none;
    transition: all .2s;
}
.content-card-button:hover {
	background-color: var(--highlight);
	color: #FFFFFF;
	text-decoration: none;
}
