
:root {
    --boxes-radius: 6px;
}


/* Default for font(-size) */
body{
  font-family: 'Inter', sans-serif; 
  font-size: 16px !important;
}  

body, main {
    margin: 0;
    background-color: white;
}
.map {
    float:right; 
    width: 50%; 
    margin: 10px;
}
@media (max-width: 600px) { 
   .map{
      width: 100%;
   }
}
section {
    padding: 1.5rem 0;
}

.header {
    margin: 3rem 2rem;
}

/* Überschriften in Abhängigkeit der Bildschirmgrösse */
h1{
  font-size: 24px !important;
  line-height: 30px !important;
  color: #32834a !important;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-weight: 700;
  margin-bottom: 0px !important;
  margin-top: 10px;
}

@media (min-width: 576px) {
  h1 {
    font-size: 30px !important;
    font-weight: 700 !important;
    line-height: 34px !important;
  }
}

@media (min-width: 1024px) {
  h1 {
      font-size: 36px !important;
      line-height: 40px !important;
  }
}

@media (min-width: 1210px) {
  h1 {
      font-size: 48px !important;
      line-height: 48px !important;
  }
}

h2{
  font-size: 36px !important;
  line-height: 40px !important;
  color: #32834a !important;
  word-wrap: break-word;
  overflow-wrap: break-word; 
  font-weight: 700;
}

@media (max-width: 576px) {
  h2{
    font-size: 20px !important;
    line-height: 24px;
  }
}

h3{
  font-size: 18px !important;
  line-height: 24px !important;
  color: #333333 !important;
  word-wrap: break-word; 
  overflow-wrap: break-word; 
  font-weight: 700;
}

@media (max-width: 576px) {
  h3{
    font-size: 18px !important;
    line-height: 20px;
  }
}

@media (min-width: 768px) {
  h3{
  font-size: 20px !important;
  line-height: 28px !important;
  }
}

@media (min-width: 1210px) {
    h3{
      font-size: 24px !important;
      line-height: 32px !important;
    }
}

h4{
  font-size: 20px !important;
  color: #32834a !important;
  margin-top: 20px;
  font-weight: 700 !important;
}

@media (max-width: 576px) {
  h4{
    font-size: 18px !important;
  }
}

h4:nth-of-type(n+2) {
  margin-top: 20px;
}

p{
    font-size: 16px !important;
    margin-top: 20px;
    font-weight: 10 !important;
}

@media (max-width: 576px) {
    p{
        font-size: 14px !important;
    }
}

.mb-0 {
    margin-bottom: 0;
}

.mb-2 {
    margin-bottom: 2rem;
}

.box {
    height: auto;
    position: relative;
    padding: 20px;
}

.box.white {
    background-color: white;
}

.box.flat {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16);
    border-radius: var(--boxes-radius);
}

.box.height {
    height: 150px;
}

.pic-einzugsgebiet{
    max-width: 100%;
    height: auto;
}

/* Basic button
   ========================================================================== */
.basic-button {
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
    display: inline-block;
    padding: .5rem 1rem;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    color: #FFFFFF;
    background-color: #33629c; /* Button background color */
    border: 1px solid #264972; /* Button border color */
}
.basic-button:hover {
    outline: none;
    text-decoration: none;
    background-color: #264972; /* Button background color on mouse hover */
    border-color: #213f63; /* Button border color on mouse hover */
}

.center {
  text-align: center;
}

.slider {
  margin-right: 25px;
  margin-left: 25px;
}

/* Light switch
   ========================================================================== */

.switch-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-family: sans-serif;
  font-weight: bold;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

/* Labels */
.switch-label {
  color: #333;
}

.switch-button {
  background: #fff;
  width: 43px;
  height: 25px;
  border: 2px solid #E6E6E6;
  border-radius: 100px;
  display: block;
  cursor: pointer;
  transition: all .4s ease;
  position: relative;
}

.switch-button::after {
  content: "";
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background-color: #0d1d2c;
  position: absolute;
  top: 1px;
  left: 1px;
  transition: transform .3s ease;
  box-shadow: 0 1px 3px rgba(0,0,0,.4);
}

.switch-input {
  display: none;
}


.switch-input:checked + .switch-button::after {
  transform: translateX(18px);
}

.switch-button:active::after {
  padding-right: .4rem;
}

.switch-input:checked + .switch-button:active::after {
  margin-left: -.4rem;
}


/* Get one value out of ten */
/* first, hide them all */
.lighter-x-legend .highcharts-axis-labels.highcharts-xaxis-labels > * {
    display:none;
}
/* then, show only one out of ten.
To change the interval number, simply change the 10 from the "10n + 1" expression.
For example, to display 1 value out of 5, try to change the expression to 5n + 1
*/
.lighter-x-legend .highcharts-axis-labels.highcharts-xaxis-labels > *:nth-child(50n + 1) {
    display: inherit;
}
