/* ==========================================================================
   Cards
   ========================================================================== */
/**
 * Styling for the different types of cards:
 * - Colored Card
 * - Content card
 * - Search box card
 * - KPI card
 * - Image card
 */


/* No Search IA in the header in homepage
   ========================================================================== */
   .ods-front-header__quick-find-button {
    display: none;
}

/* Variables & Shared classes
   ========================================================================== */
.box{
    background-color: white;
}
:root {
    --secondary-color: #DDECDE;
}

.text-center {
	text-align: center;
}
.centered-card {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.logo-homepage {
    max-width: 200px;
    height: auto;
}

/* Colored Card (Basic card)
   ========================================================================== */
.color-card {
	background-color: var(--links); /* Background color for IE */
	background-color: var(--secondary-color);
	color: #FFFFFF;
	text-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	padding: 0px;
	border-radius: 4px;
	margin-bottom: 20px;
    min-height: 270px;
	height: 100%;
	text-decoration: none;
	-webkit-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
}
.color-card:hover,
.color-card:focus {
	text-decoration: none;
    -webkit-transform: scale(1.02);
        -ms-transform: scale(1.02);
            transform: scale(1.02);
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
            box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
}
.color-card-icon {
	font-size: 2rem;
	margin-bottom: 13px;
}
.color-card-picto {
	width: auto;
	height: 56px;
	margin-bottom: 13px;
	max-width: 100%;
}
.color-card-title {
	color: inherit;
	font-size: 1.2rem;
	line-height: 1.5;
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 0;
	max-width: 100%;
}
.color-card-description {
	font-size: 1rem;
	line-height: 1.5;
	font-weight: normal;
	color: var(--highlight);
	margin-top: 13px;
	margin-bottom: 26px;
	max-width: 100%;
}
.color-card-link {
	color: inherit;
	font-weight: bold;
	margin-top: auto;
	max-width: 100%;
}

/* Content Card
   ========================================================================== */
.content-card {
	background-color: white;
	padding: 26px;
	border-radius: 4px;
	margin-bottom: 20px;
	height: 100%;
}
.content-card-title {
	color: #204454;
	font-size: 1.2rem;
	line-height: 1.5;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 13px;
	max-width: 100%;
}
.content-card-description {
	color: var(--text);
	font-size: 1rem;
	line-height: 1.5;
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 26px;
	max-width: 100%;
}
.content-card-icon {
	color: var(--highlight);
	font-size: 2rem;
	margin-bottom: 13px;
	max-width: 100%;
}
.content-card-link {
	color: var(--links);
	font-weight: bold;
	-webkit-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
	opacity: 1;
	max-width: 100%;
}
.content-card-link:hover {
	opacity: .7;
	text-decoration: none;
}
.content-card-button {
	color: var(--highlight); /* Color for IE */
	color: var(--secondary-color);
	border: 1px solid var(--highlight); /* Border color for IE because it doesn't support CSS variables. */
	border: 1px solid var(--secondary-color);
    background: transparent;
	display: inline-block;
	text-align: center;
	font-size: .867rem;
    border-radius: 4px;
    padding: .5rem 1.15rem;
    text-decoration: none;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}
.content-card-button:hover {
	background-color: var(--highlight); /* Color for IE */
	background-color: var(--secondary-color);
	color: #FFFFFF;
	text-decoration: none;
}

/* KPI Card
   ========================================================================== */
.kpi-card {
	background-color: white;
	height: 100%;
	padding: 28px;
	border-radius: 4px;
	margin-bottom: 20px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	text-align: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	text-align: center;
}

.kpi-card-grey {
	background-color: none;
	height: 100%;
	padding: 0px;
	border-radius: 4px;
	margin-bottom: 20px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	text-align: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	text-align: center;
}

.kpi-icon {
	color: var(--highlight);
	color: #204453;
	font-size: 4rem;
	margin-top: 0;
	margin-bottom: 13px;
	max-width: 100%;
}
.kpi-title {
	font-weight: normal;
	color: var(--highlight);
	font-size: 3.2rem;
	margin-top: 0;
	margin-bottom: 13px;
	max-width: 100%;
}
.kpi-description {
	color: var(--text);
	font-size: 1.2rem;
	line-height: 1.5;
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 0;
	max-width: 100%;
}
/* Image Card
   ========================================================================== */
.image-card {
	background-color: rgba(0,0,0,.1);
	background-color: var(--secondary-color);
	color: #FFFFFF;
	padding: 39px;
	border-radius: 4px;
	margin-bottom: 20px;
	min-height: 300px;
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: stretch;
	    -ms-flex-align: stretch;
	        align-items: stretch;
	text-align: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
	text-decoration: none;
}
.image-card:hover,
.image-card:focus {
	text-decoration: none;
    -webkit-transform: scale(1.02);
        -ms-transform: scale(1.02);
            transform: scale(1.02);
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
            box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
}
.image-title {
	color: inherit;
	font-size: 1.733rem;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 13px;
}
.image-description {
	color: inherit;
	font-size: 1rem;
    font-weight: lighter;
	line-height: 1.5;
	font-weight: bold;
	margin: 0;
}
/* Image card backgrounds
   ========================================================================== */
/**
 * - Replace the background image url.
 * - Change the class name to something related to your project.
 */
.image-card-mobility {
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.5)), to(rgba(0,0,0,0.5))), url('/assets/theme_image/ODS_Verkehr.jpg');
	background-image: -o-linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('/assets/theme_image/ODS_Verkehr.jpg');
	background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('/assets/theme_image/ODS_Verkehr.jpg');
}
.image-card-garden {
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.5)), to(rgba(0,0,0,0.5))), url('/assets/theme_image/ODS_Bevoelkerung.jpg');
	background-image: -o-linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('/assets/theme_image/ODS_Bevoelkerung.jpg');
	background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('/assets/theme_image/ODS_Bevoelkerung.jpg');
}
.image-card-gastronomy {
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.5)), to(rgba(0,0,0,0.5))), url('/assets/theme_image/ODS_öffOrdnung.jpg');
	background-image: -o-linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('/assets/theme_image/ODS_öffOrdnung.jpg');
	background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('/assets/theme_image/ODS_öffOrdnung.jpg');
}
.image-card-sport {
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.5)), to(rgba(0,0,0,0.5))), url('/assets/theme_image/ODS_Statistik.jpg');
	background-image: -o-linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('/assets/theme_image/ODS_Statistik.jpg');
	background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('/assets/theme_image/ODS_Statistik.jpg');
}
.image-card-culture {
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.5)), to(rgba(0,0,0,0.5))), url('/assets/theme_image/ODS_Geographie.jpg');
	background-image: -o-linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('/assets/theme_image/ODS_Geographie.jpg');
	background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('/assets/theme_image/ODS_Geographie.jpg');
}
.image-card-education {
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.5)), to(rgba(0,0,0,0.5))), url('/assets/theme_image/ODS_Alle-Themen.jpg');
	background-image: -o-linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('/assets/theme_image/ODS_Alle-Themen.jpg');
	background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('/assets/theme_image/ODS_Alle-Themen.jpg');
}
/* ==========================================================================
   Homepage Styles
   ========================================================================== */
/*
The CSS rules below will only be applied to the HTML used in the </> HTML tab
and will not be applied to other pages of your platform.
The 'home-' prefix is used for classes that belong to this page only. This makes it easier
to understand which classes are used here and which ones are in the Platform Theme Stylesheet.
*/
/* Shared Styles
========================================================================== */
/*
These styles are used by different elements in the home page
*/
main {
    /* Overrides an existing CSS rule so the banner image can be "edge-to-edge" */
    margin: 0;
}
@media screen and (min-width: 992px) {
	.row-equal-height {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		margin-bottom: 20px;
	}
	/* Fix for early content wrapping in Safari*/
	.row-equal-height:before,
	.row-equal-height:after {
		content: normal;
	}
}

.home-subtitle {
	color: var(--titles);
	font-size: 1.2rem;
	line-height: 1.5;
	font-weight: normal;
	margin-bottom: 20px;
}
/* Header Image
========================================================================== */
.home-header {
	margin-bottom: 20px;
    height: 200px;
    background-color: var(--highlight);
    background-size: cover;
    background-image: url('/assets/theme_image/OGD_Datenportal_Titelbild_by_Raphael_Alu_1018_web.jpg');
    background-position: center center;
}
/* Home welcome card
========================================================================== */
.welcome-card {
    background-color: var(--header-background);
	color: var(--highlight);
	margin-top: -90px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	padding: 39px;
	border-radius: 4px;
	margin-bottom: 20px;
}
.welcome-card-title {
	color: inherit;
	font-size: 2.36rem;
	line-height: 1.5;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 13px;
	max-width: 100%;
}
.welcome-card-description {
	font-size: 1.2rem;
	line-height: 1.5;
	font-weight: normal;
	color: inherit;
	margin-top: 13px;
	margin-bottom: 26px;
	max-width: 100%;
}
@media screen and (min-width: 992px) {
	.welcome-card-description {
		margin-bottom: 0;
	}
}
.welcome-card-link {
    font-size: 1.2rem;
	color: var(--highlight);
	font-weight: bold;
	margin-top: auto;
	-webkit-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
	opacity: 1;
	max-width: 100%
}
.welcome-card-textlink {

	font-weight: bold;
    margin-top: auto;
	-webkit-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
	opacity: 1;
	max-width: 100%
}
.welcome-card-link .fa {
	position: relative;
	left: 0;
	-webkit-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
}
.welcome-card-link:hover {
	opacity: .7;
	text-decoration: none;
}
.welcome-card-link:hover .fa {
	left: 3px;
}
@media screen and (min-width: 992px) {
	.welcome-card {
		height: 107%;
		position: relative;
		margin-top: -30%;
		margin-bottom: 10;
	}
}

/* Home contact card
========================================================================== */
.contact-card {
    background-color: var(--header-background);
	color: var(--highlight);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	padding: 39px;
	border-radius: 4px;
	margin-bottom: 10px;
}

/* Most Popular / Last Updated datasets section
========================================================================== */
.odswidget-most-popular-datasets__datasets,
.odswidget-last-datasets-feed__datasets {
	margin-top: 0;
	margin-bottom: 20px;
}
.odswidget-most-popular-datasets__dataset,
.odswidget-last-datasets-feed__dataset {
    padding: 13px;
    background-color: #FFFFFF;
    border-radius: 4px;
	margin-bottom: 13px;
}
.odswidget-most-popular-datasets__theme-picto,
.odswidget-last-datasets-feed__theme-picto {
	margin-top: 0;
}
.odswidget-most-popular-datasets__dataset-details,
.odswidget-last-datasets-feed__dataset-details {
	margin-left: 46px;
}
.odswidget-most-popular-datasets__dataset-details-title,
.odswidget-last-datasets-feed__dataset-details-title {
	font-size: 1rem;
}
.odswidget-most-popular-datasets__dataset-details-title a,
.odswidget-last-datasets-feed__dataset-details-title a {
	color: var(--titles);
}
.odswidget-most-popular-datasets__dataset-details-count,
.odswidget-last-datasets-feed__dataset-details-modified {
	opacity: .8;
	border-bottom: none;
	cursor: default;
}
.odswidget-most-popular-datasets__dataset-details-count .fa,
.odswidget-last-datasets-feed__dataset-details-modified .fa {
	display: none;
}
.twitter-timeline-container {
	margin-bottom: 20px;
}
/* CHARTS */
.ods-chart {
    height: 350px;
}
.odswidget-charts {
    margin-top: 10px;
}
.odswidget-table {
    height: 338px;
    margin-top: 10px;
}
rect.highcharts-background {
    fill: #eee !important;
}
tspan.highcharts-text-outline {
    display: none;
}

.highcharts-data-label span {
    text-align: center;
}




/* Search
========================================================================== */
.search-module-container {
    margin-left: -50px;
    padding: 20px;
    padding-bottom: 0;
    margin-top: -70px;
    background-color: none;
    border-radius: 4px;
    position: relative;
}

.search-module-content {
    width: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
}

/* Small screens */
@media (max-width: 767px) {
    .search-module-content {
        max-width: 728px;
        padding-left: 30px;
        padding-right: 30px;
        margin-top: 50px;
        margin-bottom: 40px;
    }
}


/* Larger screens */
@media (min-width: 768px) {
    .search-module-content {
        max-width: 728px;
        padding-left: 30px;
        padding-right: 30px;
        margin-top: 50px;
        margin-bottom: 40px;
    }
}

/* Even larger screens */
@media (min-width: 1024px) {
    .search-module-content {
        max-width: 960px;
        padding-left: 40px;
        padding-right: 40px;
        margin-top: 60px;
        margin-bottom: 50px;
    }
}


@media (min-width: 1210px) {
    .search-module-content {
        max-width: 1200px;
        padding-left: 50px;
        padding-right: 50px;
        margin-top: 70px;
        margin-bottom: 60px;
    }
}


.search-module {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 15px;
    border: 2px solid #ccc;
    border-radius: 30px;
    padding: 5px;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    flex-wrap: nowrap;
}


.search-module-input {
    flex: 1;
    padding: 10px 15px;
    border: none;
    outline: none;
    border-radius: 30px;
    font-size: 16px;
    color: #333;
}

.search-module-input::placeholder {
    color: #999;
}

.search-module:focus-within {
    border-color: #9156b4;
    box-shadow: 0 3px 5px rgba(145, 86, 180, 0.3);
}

.search-module-clear {
    margin-right: 10px;
    background: none;
    border: none;
    color: var(--highlight);
    font-size: 18px;
    cursor: pointer;
}

.search-module-clear:hover {
    color: #146c8b;
}

.search-module-btn {
    background-color: var(--highlight);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.search-module-btn i {
    margin-right: 5px;
}

@media (max-width: 600px) {
    .search-module-btn {
        padding: 10px;
        justify-content: center;
        width: auto;
    }

    .search-module-btn i {
        margin-right: 0;
    }

    .search-module-btn span {
        display: none;
    }
}
.search-module-btn:hover {
    background-color: #146c8b;
}

/* Apply styles to the search wrapper inside ods-catalog-search */
.my-search-box .rods-search-filter__wrapper {
    display: flex;
    position: relative;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 15px;
    border: 2px solid #ccc;
    border-radius: 30px;
    padding: 5px;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    flex-wrap: nowrap;
}

/* Input field styles */
.my-search-box .rods-search-filter__input {
    flex: 1;
    padding: 10px 15px;
    border: none;
    outline: none;
    border-radius: 30px;
    font-size: 16px;
    color: #333;
}

.my-search-box .rods-search-filter__input::placeholder {
    color: #999;
}

/* Search button/icon styles */
.my-search-box .rods-search-filter__icon {
    background-color: var(--highlight);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.my-search-box .rods-search-filter__icon:hover {
    background-color: #146c8b;
}

/* Adjust the SVG icon size */
.my-search-box .rods-search-filter__icon .rods-icon svg {
    width: 18px;
    height: 18px;
    fill: currentColor;
}

@media (max-width: 600px) {
    /* Hide the text on small screens */
    .my-search-box .rods-search-filter__icon::after {
        content: 'Suchen';
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border: 0;
    }

    /* Adjust the search button */
    .my-search-box .rods-search-filter__icon {
        width: auto;
        padding: 10px;
        justify-content: center;
        align-items: center;
    }

    /* Adjust the input field */
    .my-search-box .rods-search-filter__input {
        width: calc(100% - 50px); /* Adjust based on button width */
        border-radius: 30px 0 0 30px;
        padding: 10px 15px;
    }

    /* Adjust the icon size */
    .my-search-box .rods-search-filter__icon .rods-icon svg {
        width: 24px;
        height: 24px;
    }

    /* Ensure the wrapper does not wrap */
    .my-search-box .rods-search-filter__wrapper {
        flex-wrap: nowrap;
    }
}

/* Focus styles */
.my-search-box .rods-search-filter__wrapper:focus-within {
    border-color: #9156b4;
    box-shadow: 0 3px 5px rgba(145, 86, 180, 0.3);
}

.my-search-box .rods-search-filter__icon::after {
    content: 'Suchen';
    margin-left: 5px;
    font-size: 16px;
    color: white;
}


.access-card-button-container {
    display: flex;
    justify-content: space-between;
    padding: 26px;
    padding-top: 0;
}

.custom-button {
    display: inline-block;
    align-items: center;
    justify-content: flex-start;
    grid-auto-flow: column;
    grid-template-columns: 40px 237px;

    background-color: rgb(30, 69, 87);
    background-attachment: scroll;
    background-clip: border-box;
    background-origin: padding-box;
    background-position: 0% 0%;
    background-repeat: repeat;
    background-size: auto;

    border: 1px solid rgb(30, 69, 87);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
    text-decoration: none;
    text-decoration-color: rgb(255, 255, 255);

    width: 159.516px;
    height: auto;
    min-height: 40px;
    min-width: 40px;
    padding: 10px 14px 10px;

    overflow-x: hidden;
    overflow-y: hidden;

    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    column-gap: 15px;
    row-gap: 15px;
    hyphens: auto;
    tab-size: 4;
    display: inline-block;
    margin-bottom: 10px;
}

.button.is-sm.is-icon-only {
    height: 36px !important;
    width: 36px !important;
}

.button.is-icon-only {
    align-items: center;
    height: 48px;
    justify-content: center;
    padding: 0;
    width: 48px;
}

.button.is-sm {
    border-radius: 24px;
    font-size: 14px;
    gap: 5px;
    line-height: 1;
    min-height: 36px;
    min-width: 36px;
    padding-left: 10px;
    padding-right: 10px;
}

.button {
    --button-text: #ffffff;
    --button-bg: #f8f8f8;
    --button-border: #1e4557;
    background: #f8f8f8;
    border-color: #1e4557;
    color: var(--button-text);
    align-items: center;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    display: inline-flex;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    gap: 5px;
    text-align: center;
    padding: 0;
    width: 48px;
    height: 48px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: background 0.3s, border-color 0.3s;
}

.button:hover {
    background: #0E81A7;
    border-color: #0E81A7;
}

a {
    color: inherit;
    text-decoration: none;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}



.social-buttons {
    display: flex;
    gap: 10px;
    justify-content: start;
    align-items: center;
    margin-top: 10px;
}

.welcome-card-text {
    margin-bottom: 15px;
}
