:root {
    --boxes-radius: 6px;
}

body, main {
    margin: 0;
    background-color: #F2F3F8;
}

section {
    padding-top: 2rem;
    background: linear-gradient(0deg, #F2F3F8, white);
}

/* Standard Styles */
.row {
    display: flex;
    flex-wrap: wrap;
}

.col-md-6 {
    flex: 1;
    max-width: 50%;
}

.facet-1 {
    margin: 0 0em 1em;
}

.facet-2 {
    margin: 0 0em 1em;
}

.map-1 {
    margin: 0 0em 1em;
}

.map-2 {
    margin: 0 0em 1em;
}

/* Mobile Styles */
@media (max-width: 768px) {
    .facet-1 {
        order: 1;
    }
    .map-1 {
        order: 2;
    }
    .facet-2 {
        order: 3;
    }
    .map-2 {
        order: 4;
    }
    .chart-1 {
        order: 5;
    }
    .chart-2 {
        order: 6;
    }
    .col-md-6 {
        max-width: 100%;
    }
}


.heading {
    display: flex;
    flex-direction: column;
    margin: 2rem; 
}
.heading h1.title {
    font-size: 3em;
}
.heading h1 ~ .subtitle {
    font-size: 2em;
    font-weight: 200;
    margin: 0 1em 2em;
}
.heading h3.title {
    font-size: 1.7em;
}
.heading p {
    font-size: 1.2em;
}
.heading ul {
    font-size: 1.2em;
    margin: 0 0 1em 0
}
@media screen and (min-width: 640px) {
    .heading {
        margin: 2rem;
    }
}

.header {
    margin: 3rem 2rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-weight: 500;
}

h3 {
    font-weight: 400;
}

.mb-0 {
    margin-bottom: 0;
}

.mb-2 {
    margin-bottom: 2rem;
}

.box {
    position: relative;
    padding: 13px;
}
.box.white {
    background-color: white;
}
.box.flat {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16);
    border-radius: var(--boxes-radius);
}

.advanced-kpi {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.advanced-kpi--top .title {
    font-size: 1.2em;
    margin: 0;
}
.advanced-kpi--top .description {
    margin: 0 auto;
    color: #565656;
    font-size: 1em;
    font-weight: 400;
}

.advanced-kpi--middle {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}
.advanced-kpi--middle.centered {
    align-items: center;
}
.advanced-kpi--middle > * {
    margin: 5px 0;
}
.advanced-kpi--middle .value {
    color: var(--highlight);
    font-weight: 500;
    font-size: 2.5rem;
}

.advanced-kpi--bottom {
    font-size: 0.8em;
}
.advanced-kpi--bottom .advanced-kpi--bottom-second-stage {
    display: flex;
    justify-content: space-between;
}
.advanced-kpi--bottom .source {
    text-decoration: underline;
    color: var(--links);
}
.advanced-kpi--bottom .source i {
    margin-left: 6px;
}
.advanced-kpi--bottom .source:hover {
    opacity: 0.65;
}
.advanced-kpi--bottom .source:hover i {
    animation: bounce 0.7s ease infinite;
}

@keyframes bounce {
    from {
        margin-left: 6px;
        margin-right: 0;
    }
    50% {
        margin-left: 2px;
        margin-right: 4px;
    }
    to {
        margin-left: 6px;
        margin-right: 0;
    }
}
.no-bg rect.highcharts-background {
    fill: transparent !important;
}

/**
 * License: MIT License
 * Generated on 07 Jun 2021
 * Author: Labs from opendatasoft
 * Version: 0.2
 * Description: ODS Layout over-ride to Flexbox system
 */

.box,.row.full-height{height:100%}.row{display:flex;flex-wrap:wrap;justify-content:center}.row>*{margin-bottom:20px;flex-grow:1}.order-0{order:0}@media screen and (min-width:750px){.order-sm-0{order:0}}@media screen and (min-width:970px){.order-md-0{order:0}}@media screen and (min-width:1170px){.order-lg-0{order:0}.order-lg-1{order:1}}.order-1{order:1}@media screen and (min-width:750px){.order-sm-1{order:1}}@media screen and (min-width:970px){.order-md-1{order:1}.order-md-2{order:2}}.order-2{order:2}@media screen and (min-width:750px){.order-sm-2{order:2}}@media screen and (min-width:1170px){.order-lg-2{order:2}.order-lg-3{order:3}}.order-3{order:3}@media screen and (min-width:750px){.order-sm-3{order:3}}@media screen and (min-width:970px){.order-md-3{order:3}.order-md-4{order:4}}.order-4{order:4}@media screen and (min-width:750px){.order-sm-4{order:4}}@media screen and (min-width:1170px){.order-lg-4{order:4}.order-lg-5{order:5}}.order-5{order:5}@media screen and (min-width:750px){.order-sm-5{order:5}}@media screen and (min-width:970px){.order-md-5{order:5}.order-md-6{order:6}}.order-6{order:6}@media screen and (min-width:750px){.order-sm-6{order:6}}@media screen and (min-width:1170px){.order-lg-6{order:6}.order-lg-7{order:7}}.order-7{order:7}@media screen and (min-width:750px){.order-sm-7{order:7}}@media screen and (min-width:970px){.order-md-7{order:7}.order-md-8{order:8}}.order-8{order:8}@media screen and (min-width:750px){.order-sm-8{order:8}}@media screen and (min-width:1170px){.order-lg-8{order:8}.order-lg-9{order:9}}.order-9{order:9}@media screen and (min-width:750px){.order-sm-9{order:9}}@media screen and (min-width:970px){.order-md-9{order:9}.order-md-10{order:10}}.order-10{order:10}@media screen and (min-width:750px){.order-sm-10{order:10}}@media screen and (min-width:1170px){.order-lg-10{order:10}.order-lg-11{order:11}}.order-11{order:11}@media screen and (min-width:750px){.order-sm-11{order:11}}@media screen and (min-width:970px){.order-md-11{order:11}.order-md-12{order:12}}.order-12{order:12}@media screen and (min-width:750px){.order-sm-12{order:12}}@media screen and (min-width:1170px){.order-lg-12{order:12}}@media screen and (max-width:1169px){:not([class*=col-md]):not([class*=col-sm]):not([class*=col-xs]).col-lg-1,:not([class*=col-md]):not([class*=col-sm]):not([class*=col-xs]).col-lg-10,:not([class*=col-md]):not([class*=col-sm]):not([class*=col-xs]).col-lg-11,:not([class*=col-md]):not([class*=col-sm]):not([class*=col-xs]).col-lg-12,:not([class*=col-md]):not([class*=col-sm]):not([class*=col-xs]).col-lg-2,:not([class*=col-md]):not([class*=col-sm]):not([class*=col-xs]).col-lg-3,:not([class*=col-md]):not([class*=col-sm]):not([class*=col-xs]).col-lg-4,:not([class*=col-md]):not([class*=col-sm]):not([class*=col-xs]).col-lg-5,:not([class*=col-md]):not([class*=col-sm]):not([class*=col-xs]).col-lg-6,:not([class*=col-md]):not([class*=col-sm]):not([class*=col-xs]).col-lg-7,:not([class*=col-md]):not([class*=col-sm]):not([class*=col-xs]).col-lg-8,:not([class*=col-md]):not([class*=col-sm]):not([class*=col-xs]).col-lg-9{width:100%}}@media screen and (max-width:969px){:not([class*=col-sm]):not([class*=col-xs]).col-md-1,:not([class*=col-sm]):not([class*=col-xs]).col-md-10,:not([class*=col-sm]):not([class*=col-xs]).col-md-11,:not([class*=col-sm]):not([class*=col-xs]).col-md-12,:not([class*=col-sm]):not([class*=col-xs]).col-md-2,:not([class*=col-sm]):not([class*=col-xs]).col-md-3,:not([class*=col-sm]):not([class*=col-xs]).col-md-4,:not([class*=col-sm]):not([class*=col-xs]).col-md-5,:not([class*=col-sm]):not([class*=col-xs]).col-md-6,:not([class*=col-sm]):not([class*=col-xs]).col-md-7,:not([class*=col-sm]):not([class*=col-xs]).col-md-8,:not([class*=col-sm]):not([class*=col-xs]).col-md-9{width:100%}}@media screen and (max-width:749px){.row{flex-direction:column}:not([class*=col-xs]).col-sm-1,:not([class*=col-xs]).col-sm-10,:not([class*=col-xs]).col-sm-11,:not([class*=col-xs]).col-sm-12,:not([class*=col-xs]).col-sm-2,:not([class*=col-xs]).col-sm-3,:not([class*=col-xs]).col-sm-4,:not([class*=col-xs]).col-sm-5,:not([class*=col-xs]).col-sm-6,:not([class*=col-xs]).col-sm-7,:not([class*=col-xs]).col-sm-8,:not([class*=col-xs]).col-sm-9{width:100%}}.no-margin-bottom,.no-mb{margin-bottom:0!important}.no-margin-x,.no-mx{margin-left:0!important;margin-right:0!important}

/* Do not copy below, for Code Library resource only */
.chart-placeholder {
    background-color: #fff1f1;
    height: 350px;
}
.chart-placeholder:before {
    display: block;
    font-size: 2rem;
    margin: 0.2rem 0.5rem;
    content: "Chart";
}

h3 i {
    font-size: 0.7em;
    font-weight: 300;
}

h2 i {
    font-size: 0.7em;
    font-weight: 300;
}

.map-container {
    position: relative;
}

.odswidget.odswidget-legend {
    position: absolute;
    top: 20px;
    left: 57px;
}

.legend {
    font-family: Arial, sans-serif;
    margin: 20px;
}
.legend-horizontal-container {
            display: flex;
            justify-content: center; /* Centers the legend horizontally */
            padding: 20px;
        }
.legend-horizontal {
    font-family: Arial, sans-serif;
    margin: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.legend-item-hor {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    margin-right: 40px; /* Increased margin */
}
.legend-item-hor:last-child {
    margin-right: 0; /* Remove margin from the last item */
}
.color-box {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

/* See more button
   ========================================================================== */
.button-see-more {
    margin-bottom: 1rem;
    padding: 1rem 3rem;
    border: none;
    border-radius: 20px;
    text-align: center;
    transition: all .2s;
    outline: none;
    background-color: #b4c5f1; /* Button background color */
}
.button-see-more:hover {
    background-color: #b4c5f1; /* Button background color on mouse hover */
}
.extralarge-y-values .highcharts-yaxis-labels text,.large-y-values .highcharts-yaxis-labels text{transform:translate(0,4px)}.hide-chart-legend .highcharts-legend-item span,.hide-chart-series .highcharts-series path.highcharts-graph,.hide-chart-series .highcharts-series rect,.hide-data-values .highcharts-data-label tspan,.hide-tooltip-text .highcharts-tooltip .highcharts-tooltip-container,.hide-tooltip-text .ods-highcharts__tooltip span,.hide-x-axisline .highcharts-axis.highcharts-xaxis path.highcharts-axis-line,.hide-x-axisline-ticks .highcharts-axis.highcharts-xaxis path.highcharts-tick,.hide-x-gridline .highcharts-xaxis-grid path.highcharts-grid-line,.hide-x-legend .highcharts-xaxis tspan,.hide-x-values .highcharts-xaxis-labels span,.hide-x-values .highcharts-xaxis-labels text,.hide-y-axisline .highcharts-axis.highcharts-yaxis path.highcharts-axis-line,.hide-y-gridline .highcharts-yaxis-grid path.highcharts-grid-line,.hide-y-legend .highcharts-yaxis tspan,.hide-y-values .highcharts-yaxis-labels span,.hide-y-values .highcharts-yaxis-labels text,.name-tooltip-value .ods-highcharts__tooltip b{display:none!important}.highcharts-axis tspan,.highcharts-data-label tspan,.highcharts-label span,.highcharts-legend-item span,.highcharts-xaxis-labels text,.highcharts-yaxis-labels text{font-family:Gotham-book,Arial,sans-serif!important}.name-tooltip-value .ods-highcharts__tooltip b,.small-chart-legend .highcharts-legend-item span,.small-data-values .highcharts-data-label tspan,.small-tooltip-text .highcharts-tooltip .highcharts-tooltip-container,.small-tooltip-text .ods-highcharts__tooltip span,.small-x-legend .highcharts-xaxis tspan,.small-x-values .highcharts-xaxis-labels span,.small-x-values .highcharts-xaxis-labels text,.small-y-legend .highcharts-yaxis tspan,.small-y-values .highcharts-yaxis-labels span,.small-y-values .highcharts-yaxis-labels text{font-size:12px!important}.medium-chart-legend .highcharts-legend-item span,.medium-data-values .highcharts-data-label tspan,.medium-tooltip-text .highcharts-tooltip .highcharts-tooltip-container,.medium-tooltip-text .ods-highcharts__tooltip span,.medium-x-legend .highcharts-xaxis tspan,.medium-x-values .highcharts-xaxis-labels span,.medium-x-values .highcharts-xaxis-labels text,.medium-y-legend .highcharts-yaxis tspan,.medium-y-values .highcharts-yaxis-labels span,.medium-y-values .highcharts-yaxis-labels text,.name-tooltip-value .ods-highcharts__tooltip b{font-size:14px!important}.large-chart-legend .highcharts-legend-item span,.large-data-values .highcharts-data-label tspan,.large-tooltip-text .highcharts-tooltip .highcharts-tooltip-container,.large-tooltip-text .ods-highcharts__tooltip span,.large-x-legend .highcharts-xaxis tspan,.large-x-values .highcharts-xaxis-labels span,.large-x-values .highcharts-xaxis-labels text,.large-y-legend .highcharts-yaxis tspan,.large-y-values .highcharts-yaxis-labels span,.large-y-values .highcharts-yaxis-labels text,.name-tooltip-value .ods-highcharts__tooltip b{font-size:16px!important}.extralarge-chart-legend .highcharts-legend-item span,.extralarge-data-values .highcharts-data-label tspan,.extralarge-tooltip-text .highcharts-tooltip .highcharts-tooltip-container,.extralarge-tooltip-text .ods-highcharts__tooltip span,.extralarge-x-legend .highcharts-xaxis tspan,.extralarge-x-values .highcharts-xaxis-labels span,.extralarge-x-values .highcharts-xaxis-labels text,.extralarge-y-legend .highcharts-yaxis tspan,.extralarge-y-values .highcharts-yaxis-labels span,.extralarge-y-values .highcharts-yaxis-labels text,.name-tooltip-value .ods-highcharts__tooltip b{font-size:18px!important}.light-chart-legend .highcharts-legend-item span,.light-data-values .highcharts-data-label tspan,.light-tooltip-text .highcharts-tooltip .highcharts-tooltip-container,.light-tooltip-text .ods-highcharts__tooltip span,.light-x-legend .highcharts-xaxis tspan,.light-x-values .highcharts-xaxis-labels span,.light-x-values .highcharts-xaxis-labels text,.light-y-legend .highcharts-yaxis tspan,.light-y-values .highcharts-yaxis-labels span,.light-y-values .highcharts-yaxis-labels text,.name-tooltip-value .ods-highcharts__tooltip b{font-weight:100!important}.name-tooltip-value .ods-highcharts__tooltip b,.normal-chart-legend .highcharts-legend-item span,.normal-data-values .highcharts-data-label tspan,.normal-tooltip-text .highcharts-tooltip .highcharts-tooltip-container,.normal-tooltip-text .ods-highcharts__tooltip span,.normal-x-legend .highcharts-xaxis tspan,.normal-x-values .highcharts-xaxis-labels span,.normal-x-values .highcharts-xaxis-labels text,.normal-y-legend .highcharts-yaxis tspan,.normal-y-values .highcharts-yaxis-labels span,.normal-y-values .highcharts-yaxis-labels text{font-weight:400!important}.bold-chart-legend .highcharts-legend-item span,.bold-data-values .highcharts-data-label tspan,.bold-tooltip-text .highcharts-tooltip .highcharts-tooltip-container,.bold-tooltip-text .ods-highcharts__tooltip span,.bold-x-legend .highcharts-xaxis tspan,.bold-x-values .highcharts-xaxis-labels span,.bold-x-values .highcharts-xaxis-labels text,.bold-y-legend .highcharts-yaxis tspan,.bold-y-values .highcharts-yaxis-labels span,.bold-y-values .highcharts-yaxis-labels text,.name-tooltip-value .ods-highcharts__tooltip b{font-weight:600!important}.lightgrey-chart-legend .highcharts-legend-item span,.lightgrey-data-values .highcharts-data-label tspan,.lightgrey-tooltip-text .highcharts-tooltip .highcharts-tooltip-container,.lightgrey-tooltip-text .ods-highcharts__tooltip span,.lightgrey-x-legend .highcharts-xaxis tspan,.lightgrey-x-values .highcharts-xaxis-labels span,.lightgrey-x-values .highcharts-xaxis-labels text,.lightgrey-y-legend .highcharts-yaxis tspan,.lightgrey-y-values .highcharts-yaxis-labels span,.lightgrey-y-values .highcharts-yaxis-labels text,.name-tooltip-value .ods-highcharts__tooltip b{fill:#565656!important;color:#565656!important}.darkgrey-chart-legend .highcharts-legend-item span,.darkgrey-data-values .highcharts-data-label tspan,.darkgrey-tooltip-text .highcharts-tooltip .highcharts-tooltip-container,.darkgrey-tooltip-text .ods-highcharts__tooltip span,.darkgrey-x-legend .highcharts-xaxis tspan,.darkgrey-x-values .highcharts-xaxis-labels span,.darkgrey-x-values .highcharts-xaxis-labels text,.darkgrey-y-legend .highcharts-yaxis tspan,.darkgrey-y-values .highcharts-yaxis-labels span,.darkgrey-y-values .highcharts-yaxis-labels text,.name-tooltip-value .ods-highcharts__tooltip b{fill:#333!important;color:#333!important}.black-chart-legend .highcharts-legend-item span,.black-data-values .highcharts-data-label tspan,.black-tooltip-text .highcharts-tooltip .highcharts-tooltip-container,.black-tooltip-text .ods-highcharts__tooltip span,.black-x-legend .highcharts-xaxis tspan,.black-x-values .highcharts-xaxis-labels span,.black-x-values .highcharts-xaxis-labels text,.black-y-legend .highcharts-yaxis tspan,.black-y-values .highcharts-yaxis-labels span,.black-y-values .highcharts-yaxis-labels text,.name-tooltip-value .ods-highcharts__tooltip b{fill:#000!important;color:#000!important}.small-chart-legend-dash .highcharts-legend-item path,.small-chart-series .highcharts-series path.highcharts-graph,.small-chart-series .highcharts-series rect,.small-x-axisline .highcharts-axis.highcharts-xaxis path.highcharts-axis-line,.small-x-axisline-ticks .highcharts-axis.highcharts-xaxis path.highcharts-tick,.small-x-gridline .highcharts-xaxis-grid path.highcharts-grid-line,.small-y-axisline .highcharts-axis.highcharts-yaxis path.highcharts-axis-line,.small-y-gridline .highcharts-yaxis-grid path.highcharts-grid-line{stroke-width:.8px!important}.medium-chart-legend-dash .highcharts-legend-item path,.medium-chart-series .highcharts-series path.highcharts-graph,.medium-chart-series .highcharts-series rect,.medium-x-axisline .highcharts-axis.highcharts-xaxis path.highcharts-axis-line,.medium-x-axisline-ticks .highcharts-axis.highcharts-xaxis path.highcharts-tick,.medium-x-gridline .highcharts-xaxis-grid path.highcharts-grid-line,.medium-y-axisline .highcharts-axis.highcharts-yaxis path.highcharts-axis-line,.medium-y-gridline .highcharts-yaxis-grid path.highcharts-grid-line{stroke-width:1.5px!important}.large-chart-legend-dash .highcharts-legend-item path,.large-chart-series .highcharts-series path.highcharts-graph,.large-chart-series .highcharts-series rect,.large-x-axisline .highcharts-axis.highcharts-xaxis path.highcharts-axis-line,.large-x-axisline-ticks .highcharts-axis.highcharts-xaxis path.highcharts-tick,.large-x-gridline .highcharts-xaxis-grid path.highcharts-grid-line,.large-y-axisline .highcharts-axis.highcharts-yaxis path.highcharts-axis-line,.large-y-gridline .highcharts-yaxis-grid path.highcharts-grid-line{stroke-width:3px!important}.extralarge-chart-legend-dash .highcharts-legend-item path,.extralarge-chart-series .highcharts-series path.highcharts-graph,.extralarge-chart-series .highcharts-series rect,.extralarge-x-axisline .highcharts-axis.highcharts-xaxis path.highcharts-axis-line,.extralarge-x-axisline-ticks .highcharts-axis.highcharts-xaxis path.highcharts-tick,.extralarge-x-gridline .highcharts-xaxis-grid path.highcharts-grid-line,.extralarge-y-axisline .highcharts-axis.highcharts-yaxis path.highcharts-axis-line,.extralarge-y-gridline .highcharts-yaxis-grid path.highcharts-grid-line{stroke-width:5px!important}.lightgrey-chart-series .highcharts-series path.highcharts-graph,.lightgrey-chart-series .highcharts-series rect,.lightgrey-x-axisline .highcharts-axis.highcharts-xaxis path.highcharts-axis-line,.lightgrey-x-axisline-ticks .highcharts-axis.highcharts-xaxis path.highcharts-tick,.lightgrey-x-gridline .highcharts-xaxis-grid path.highcharts-grid-line,.lightgrey-y-axisline .highcharts-axis.highcharts-yaxis path.highcharts-axis-line,.lightgrey-y-gridline .highcharts-yaxis-grid path.highcharts-grid-line{stroke:#565656!important}.lightgrey-chart-legend-dash .highcharts-legend-item path{stroke-width:#565656!important}.darkgrey-chart-series .highcharts-series path.highcharts-graph,.darkgrey-chart-series .highcharts-series rect,.darkgrey-x-axisline .highcharts-axis.highcharts-xaxis path.highcharts-axis-line,.darkgrey-x-axisline-ticks .highcharts-axis.highcharts-xaxis path.highcharts-tick,.darkgrey-x-gridline .highcharts-xaxis-grid path.highcharts-grid-line,.darkgrey-y-axisline .highcharts-axis.highcharts-yaxis path.highcharts-axis-line,.darkgrey-y-gridline .highcharts-yaxis-grid path.highcharts-grid-line{stroke:#333!important}.darkgrey-chart-legend-dash .highcharts-legend-item path{stroke-width:#333!important}.black-chart-series .highcharts-series path.highcharts-graph,.black-chart-series .highcharts-series rect,.black-x-axisline .highcharts-axis.highcharts-xaxis path.highcharts-axis-line,.black-x-axisline-ticks .highcharts-axis.highcharts-xaxis path.highcharts-tick,.black-x-gridline .highcharts-xaxis-grid path.highcharts-grid-line,.black-y-axisline .highcharts-axis.highcharts-yaxis path.highcharts-axis-line,.black-y-gridline .highcharts-yaxis-grid path.highcharts-grid-line{stroke:#000!important}.black-chart-legend-dash .highcharts-legend-item path{stroke-width:#000!important}.hide-chart-legend-dash .highcharts-legend-item path{stroke-width:none!important}.small-chart-legend-circle g.highcharts-legend-item rect{width:10px!important;height:10px!important;x:5!important;y:5!important}.medium-chart-legend-circle g.highcharts-legend-item rect{width:12px!important;height:12px!important;x:3!important;y:4!important}.large-chart-legend-circle g.highcharts-legend-item rect{width:15px!important;height:15px!important;x:2!important;y:2!important}.extralarge-chart-legend-circle g.highcharts-legend-item rect{width:18px!important;height:18px!important;x:0!important;y:0!important}.centered-tooltip .highcharts-tooltip .highcharts-tooltip-container{text-align:center}.centered-tooltip .ods-highcharts__tooltip{justify-content:center}.no-background rect.highcharts-background,.no-bg rect.highcharts-background,.remove-background rect.highcharts-background,.transparent-background rect.highcharts-background{fill:transparent!important}.ods-highcharts__tooltip{align-items:center}g.highcharts-legend-item rect{rx:100%;ry:100%}
