<div class="container-fluid">
    <section>
        <div class="container">
            <div class="heading">
                <h1 class="title">Kandidierende 2024</h1>
                <h2>
                    Hintergrundinformationen zu den Grossratswahlen 2024 in Basel-Stadt
                </h2>
                <p>
                    Zu den Grossratswahlen 2024 treten insgesamt 870 Kandidatinnen und Kandidaten an, 9,3 Prozent mehr als 2020.
                    Damit kandidieren 8,7 Personen pro Sitz, deutlich weniger als im Rekordjahr 1988 mit 10,3 Kandidaturen pro Sitz.
                </p>
                <p>
                    Insgesamt stehen 16 Listen zur Wahl. 3 Listen treten nur im Wahlkreis Kleinbasel an.
                    Um den Bettinger Sitz bewirbt sich neben dem bisherigen Kandidaten des Aktiven Bettingen 1 Gegenkandidat der Grünen Basel-Stadt und junges grünes bündnis (GRÜNE). 
                    Die GRÜNE-Liste ist somit auch die einzige Liste, die in allen fünf Wahlkreisen kandidiert.
                </p>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="heading">
                <div class="advanced-kpi">
                    <div class="advanced-kpi--top">
                        <h3 class="title">
                            Kandidierende 2020 und 2024 nach Alter
                        </h3>
                        <i class="description">
                            Alter der Kandidierenden am Ende des jeweiligen Wahljahres
                        </i>
                    </div>
                    <div class="advanced-kpi--middle no-bg mb-0">
                       <div class="legend-horizontal-container">
                            <div class="legend-horizontal">
                                <div class="legend-item-hor">
                                    <div class="color-box" style="background-color: #333399;"></div>
                                    <span>60 Jahre und älter</span>
                                </div>
                                <div class="legend-item-hor">
                                    <div class="color-box" style="background-color: #FF9900;"></div>
                                    <span>50-59 Jahre</span>
                                </div>
                                <div class="legend-item-hor">
                                    <div class="color-box" style="background-color: #C8C8C8;"></div>
                                    <span>40-49 Jahre</span>
                                </div>
                                <div class="legend-item-hor">
                                    <div class="color-box" style="background-color: #CD9C00;"></div>
                                    <span>30-39 Jahre</span>
                                </div>
                                <div class="legend-item-hor">
                                    <div class="color-box" style="background-color: #71A3B5;"></div>
                                    <span>25-29 Jahre</span>
                                </div>
                                <div class="legend-item-hor">
                                    <div class="color-box" style="background-color: #933F8D;"></div>
                                    <span>18-24 Jahre</span>
                                </div>
                            </div>
                        </div>
                        <ods-dataset-context context="myctx,refinectx" 
                                             myctx-dataset="100392"
                                             refinectx-dataset="100390" 
                                             refinectx-parameters="{'sort':'-wahljahr'}">
                            <div ng-if="!refinectx.parameters['refine.altersgruppe']">
                                <ods-chart scientific-display="false" 
                                           align-month="true">
                                    <ods-chart-query context="myctx" 
                                                     field-x="wahljahr" 
                                                     maxpoints="0" 
                                                     stacked="normal" 
                                                     series-breakdown="altersgruppe"
                                                     category-colors="{'18-24 Jahre':'#933F8D',
                                                                      '25-29 Jahre':'#71A3B5',
                                                                      '30-39 Jahre':'#CD9C00',
                                                                      '40-49 Jahre':'#C8C8C8',
                                                                      '50-59 Jahre':'#FF9900',
                                                                      '60 Jahre und älter':'#333399'}">
                                        <ods-chart-serie expression-y="anteil" 
                                                         chart-type="bar" 
                                                         function-y="SUM" 
                                                         color="range-Dark2" 
                                                         scientific-display="true"
                                                         display-units="true" 
                                                         display-values="true" 
                                                         label-y="Prozent (%)"
                                                         step=10
                                                         max="100">
                                        </ods-chart-serie>
                                    </ods-chart-query>
                                </ods-chart>
                            </div>
                            <div ng-if="refinectx.parameters['refine.altersgruppe']">
                                <ods-chart scientific-display="false" 
                                           align-month="true">
                                    <ods-chart-query context="refinectx" 
                                                     field-x="alter" 
                                                     maxpoints="0" 
                                                     series-breakdown="wahljahr">
                                        <ods-chart-serie expression-y="listen_nr" 
                                                         chart-type="column" 
                                                         function-y="COUNT" 
                                                         color="range-Accent" 
                                                         scientific-display="true">
                                        </ods-chart-serie>
                                    </ods-chart-query>
                                </ods-chart>
                            </div>
                        </ods-dataset-context>
                    </div>
                    <div class="advanced-kpi--bottom">
                        <div class="advanced-kpi--bottom-second-stage">
                            <a class="source"
                               href="https://data.bs.ch/explore/dataset/100392" target="_blank"
                               title="Datensatz: Kandidierende der Grossratswahlen nach Alter, Geschlecht und Liste seit 2020">
                                Quelle
                                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <br/>
                <p>
                    Leicht zugenommen haben die Anteile in den Alterssegmenten der 18- bis 24-Jährigen sowie der über 50-Jährigen; 
                    Letztere machen jetzt gut die Hälfte aus.
                    Ein gutes Drittel der Kandidierenden ist am Ende des Wahljahres unter 40 Jahre alt. 
                    Dies hat sich im Vergleich zu 2020 kaum verändert.
                    Etwas abgenommen hat der Anteil der unter 25- bis 39-Jährigen. 
                </p>
                <p>
                    Das Durchschnittsalter aller Kandidierenden beträgt 48 Jahre. 
                    Der Median ist mit 49 Jahren nur unwesentlich höher: 
                    Die eine Hälfte der Kandidierenden ist somit älter, die andere Hälfte jünger als 49 Jahre. 
                    Die Liste, Volks-Aktion gegen zuviele Ausländer und Asylanten in unserer Heimat (VA) weist mit 64 Jahren den höchsten Altersdurchschnitt auf, die Sozialdemokratische Partei Basel-Stadt (SP) und JUSO mit 41 Jahren den tiefsten.
                </p>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="heading">
                <div class="advanced-kpi">
                    <div class="advanced-kpi--top">
                        <h3 class="title">
                            Kandidierende 2024 nach Berufsgruppe
                        </h3>
                        <i class="description">
                            
                        </i>
                    </div>
                    <div class="advanced-kpi--middle no-bg mb-0">
                        <ods-dataset-context context="myctx" 
                                             myctx-dataset="100394" 
                                             myctx-parameters="{'refine.wahljahr':'2024'}">
                            <ods-chart style="height:700px"
                                       scientific-display="false" 
                                       align-month="true"
                                       labels-x-length="45"
                                       display-legend="false"
                                       max=20
                                       step=5>
                                <ods-chart-query context="myctx" 
                                                 field-x="berufsgruppe" 
                                                 maxpoints="0" 
                                                 sort="serie1-1">
                                    <ods-chart-serie expression-y="anteil" 
                                                     chart-type="bar" 
                                                     function-y="SUM" 
                                                     color="#333399" 
                                                     scientific-display="true"
                                                     display-units="true" 
                                                     display-values="true"
                                                     label-y="Prozent (%)">
                                    </ods-chart-serie>
                                </ods-chart-query>
                            </ods-chart>

                        </ods-dataset-context>
                    </div>
                    <div class="advanced-kpi--bottom">
                        <div class="advanced-kpi--bottom-second-stage">
                            <a class="source"
                               href="https://data.bs.ch/explore/dataset/100394" target="_blank"
                               title="Datensatz: Kandidierende der Grossratswahlen nach Berufsgruppe seit 2020">
                                Quelle
                                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <br/>
                <p>
                    Die grösste Berufsgruppe der Kandidierenden 2024 entfällt wie schon 2020 auf die Unternehmensdienstleistungen – 
                    hier insbesondere Juristen, Anwälte und Treuhänder, die insgesamt einen Anteil von 16,1 Prozent erreichen. 
                    Auch die zweitgrösste Gruppe der administrativen und kaufmännischen Berufe ist (auch anteilsmässig) gegenüber 2020 unverändert.
                    Dies obwohl beide Berufsgruppen anteilsmässig leicht abgenommen haben.
                </p>
                <p>
                    Stark abgenommen hat der Anteil von Gewerbe und Gastronomie, dafür ist 2024 das Gesundheitswesen leicht besser vertreten. 
                    Sowohl der Anteil der Berufsgruppe Geschäftsführung/Unternehmensleistung, wie auch der Anteil der pensionierten Kandidierenden hat leicht zugenommen.
                </p>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="heading">
                <div class="advanced-kpi">
                    <div class="advanced-kpi--top">
                        <h3 class="title">
                            Geschlechterverteilung der Kandidierenden 2024 nach Alter
                        </h3>
                        <i class="description">
                            Amtliche Geschlechterverteilung in den verschiedenen Altersgruppen
                            <br/><br/>
                            Detailierte Informationen zu den Altersgruppen wird durch das Klicken der Säulen angezeigt.
                        </i>
                    </div>
                    <ods-dataset-context context="myctx,refinectx" 
                                             myctx-dataset="100392" 
                                             myctx-parameters="{'refine.wahljahr':'2024'}"
                                             refinectx-dataset="100385"
                                             refinectx-parameters="{'disjunctive.wahlkreis':true,
                                                                   'disjunctive.listen_nr':true,
                                                                   'disjunctive.listenkurzbezeichnung':true,
                                                                   'disjunctive.listenbezeichnung':true,
                                                                   'disjunctive.bisher':true,
                                                                   'disjunctive.name_vorname':true,
                                                                   'disjunctive.name':true,
                                                                   'disjunctive.vorname':true,
                                                                   'disjunctive.geschlecht':true,
                                                                   'disjunctive.jahrgang':true,
                                                                   'disjunctive.altersgruppe':true,
                                                                   'disjunctive.alter':true,
                                                                   'sort':'kand_nr',}">
                        <div class="advanced-kpi--middle no-bg mb-0">
                                <div class="col-md-12">
                                    <div class="col-md-9">
                                        <div class="legend">
                                            <div class="legend-item">
                                                <div class="color-box" style="background-color: #B70000;"></div>
                                                <span ng-if="!refinectx.parameters['refine.altersgruppe']">Frauen</span>
                                                <span ng-if="refinectx.parameters['refine.altersgruppe']">Anzahl Frauen</span>
                                            </div>
                                            <div class="legend-item">
                                                <div class="color-box" style="background-color: #71A3B5;"></div>
                                                <span ng-if="!refinectx.parameters['refine.altersgruppe']">Männer</span>
                                                <span ng-if="refinectx.parameters['refine.altersgruppe']">Anzahl Männer</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-if="refinectx.parameters['refine.altersgruppe']"
                                         class="col-md-3 filters">
                                        <p class="appliedfilter" ng-repeat="filter in ([].concat(refinectx.parameters['refine.altersgruppe']))">
                                            {{filter}}
                                        </p>
                                        <a href class="resetfilter"
                                           ng-if="refinectx.parameters['refine.altersgruppe']"
                                           ng-click="refinectx.parameters['refine.altersgruppe'] = undefined">&larr; Filter zurücksetzen</a>
                                    </div>
                                </div>
                                <div ng-if="!refinectx.parameters['refine.altersgruppe']">
                                    <ods-chart scientific-display="false" 
                                               align-month="true"
                                               single-y-axis="true"
                                               single-y-axis-label="Prozent (%)"
                                               display-legend="false"
                                                labels-x-length=20>
                                        <ods-chart-query context="myctx" 
                                                         field-x="altersgruppe"
                                                         maxpoints="0"
                                                         series-breakdown="geschlecht"
                                                         category-colors="{'f':'#B70000','m':'#71A3B5'}">
                                            <ods-chart-serie expression-y="anteil_altersgruppe"
                                                             chart-type="column"
                                                             function-y="SUM"
                                                             scientific-display="true"
                                                             display-units="true"
                                                             display-values="true"
                                                             refine-on-click-context="refinectx"
                                                             refine-on-click-refinectx-context-field="altersgruppe">
                                            </ods-chart-serie>
                                        </ods-chart-query>
                                    </ods-chart>
                                </div>
                                <div ng-if="refinectx.parameters['refine.altersgruppe'] && refinectx.parameters['refine.altersgruppe'] != '60 Jahre und älter'">
                                        <ods-chart scientific-display="false" 
                                                   align-month="true"
                                                   display-legend="false">
                                            <ods-chart-query context="refinectx"
                                                             field-x="jahrgang" 
                                                             maxpoints="0" 
                                                             stacked="normal"
                                                             series-breakdown="geschlecht"
                                                             category-colors="{'f':'#B70000','m':'#71A3B5'}">
                                                <ods-chart-serie expression-y="listen_nr" 
                                                                 chart-type="bar" 
                                                                 function-y="COUNT" 
                                                                 scientific-display="true"
                                                                 display-values="true"
                                                                 step=1>
                                                </ods-chart-serie>
                                            </ods-chart-query>
                                        </ods-chart>
                                    </div>
                                <div ng-if="refinectx.parameters['refine.altersgruppe'] == '60 Jahre und älter'">
                                        <ods-chart scientific-display="false" 
                                                   align-month="true"
                                                   display-legend="false"
                                                   style="height:1000px">
                                            <ods-chart-query context="refinectx"
                                                             field-x="jahrgang" 
                                                             maxpoints="0" 
                                                             stacked="normal"
                                                             series-breakdown="geschlecht"
                                                             category-colors="{'f':'#B70000','m':'#71A3B5'}">
                                                <ods-chart-serie expression-y="listen_nr" 
                                                                 chart-type="bar" 
                                                                 function-y="COUNT" 
                                                                 scientific-display="true"
                                                                 display-values="true">
                                                </ods-chart-serie>
                                            </ods-chart-query>
                                        </ods-chart>
                                    </div>
                        </div>
                        <div class="advanced-kpi--bottom">
                            <div class="advanced-kpi--bottom-second-stage">
                                <a class="source"
                                   ng-if="!refinectx.parameters['refine.altersgruppe']"
                                   href="https://data.bs.ch/explore/dataset/100392" target="_blank"
                                   title="Datensatz: Kandidierende der Grossratswahlen nach Alter, Geschlecht und Liste seit 2020">
                                    Quelle
                                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                                </a>
                                <a class="source"
                                   ng-if="refinectx.parameters['refine.altersgruppe']"
                                   href="https://data.bs.ch/explore/dataset/100385" target="_blank"
                                   title="Datensatz: Kandidierende der Grossratswahl 20. Oktober 2024">
                                    Quelle
                                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </ods-dataset-context>
                </div>
                <br/>
                <p>
                    Den höchsten Frauenanteil weist die Altersgruppe der 18- bis 24-Jährigen mit 43,3 Prozent auf. 
                    Die Altersgruppe der 50- bis 59-Jährigen weist mit 34,6 Prozent den niedrigsten Frauenanteil auf.
                    Der Frauenanteil ist einzig bei den 24- bis 29-Jährigen tiefer als im Jahr 2020.
                </p>
                <p>
                    Bei den Grossratswahlen 2020 war die Wahlquote der Frauen, das heisst der Anteil gewählter Frauen im Verhältnis zum Anteil kandidierender Frauen, mit 42 zu 35,6 zum zweiten Mal positiv.
                    Dies, nachdem das Verhältnis 2016, mit 31 zu 35 wie schon 2012 negativ ausgefallen war.
                </p>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="heading">
                <div class="advanced-kpi">
                    <div class="advanced-kpi--top">
                        <h3 class="title">
                            Geschlechterverteilung der Kandidierenden 2024 nach Liste
                        </h3>
                        <i class="description">
                            Amtliche Geschlechterverteilung in den kandidierenden Listen/Parteien
                        </i>
                    </div>
                    <div class="advanced-kpi--middle no-bg mb-0">
                        <div class="legend">
                            <div class="legend-item">
                                <div class="color-box" style="background-color: #B70000;"></div>
                                <span>Frauen</span>
                            </div>
                            <div class="legend-item">
                                <div class="color-box" style="background-color: #71A3B5;"></div>
                                <span>Männer</span>
                            </div>
                        </div>
                        <ods-dataset-context context="myctx" 
                                             myctx-dataset="100392" 
                                             myctx-parameters="{'refine.wahljahr':'2024'}">
                            <ods-chart style="height:700px"
                                       scientific-display="false" 
                                       align-month="true"
                                       display-legend="false">
                                <ods-chart-query context="myctx"
                                                 field-x="frauenanteil_liste"
                                                 maxpoints="0"
                                                 stacked="percent"
                                                 series-breakdown="geschlecht"
                                                 category-colors="{'f':'#B70000','m':'#71A3B5'}">
                                    <ods-chart-serie expression-y="anteil_liste"
                                                     chart-type="bar"
                                                     function-y="SUM"
                                                     color="range-Accent"
                                                     scientific-display="true"
                                                     display-units="true"
                                                     display-values="true"
                                                     label-y="Prozent (%)">
                                    </ods-chart-serie>
                                </ods-chart-query>
                                <ods-chart-query context="myctx"
                                                 field-x="wahljahr"
                                                 maxpoints="0"
                                                 stacked="percent"
                                                 series-breakdown="geschlecht"
                                                 category-colors="{'f':'#B70000','m':'#71A3B5'}">
                                    <ods-chart-serie expression-y="anteil"
                                                     chart-type="bar" 
                                                     function-y="SUM"
                                                     color="range-Accent" 
                                                     scientific-display="true"
                                                     display-units="true"
                                                     display-values="true"
                                                     label-y="Prozent (%)">
                                    </ods-chart-serie>
                                </ods-chart-query>
                            </ods-chart>
                        </ods-dataset-context>
                    </div>
                    <div class="advanced-kpi--bottom">
                        <div class="advanced-kpi--bottom-second-stage">
                            <a class="source"
                               href="https://data.bs.ch/explore/dataset/100392" target="_blank"
                               title="Datensatz: Kandidierende der Grossratswahlen nach Alter, Geschlecht und Liste seit 2020">
                                Quelle
                                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <br/>
                <p>
                    Den höchsten Frauenanteil weisen die Listen von der BastA, dem Grünen Bündnis und der SP auf: Dort sind 50 der 94 Kandidierenden Frauen.
                    Bei der GRÜNE und der SP sind ebenfalls mehr als die Hälfte Frauen.
                </p>
                <p>
                    Wie schon in den letzten Jahren bewerben sich keine Frauen für den Bettinger Grossratssitz. 
                    Auch in den vier kleinsten Listen stellen sich nur Männer zur Wahl.
                </p>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="heading">
                <div class="advanced-kpi">
                    <div class="advanced-kpi--top">
                        <h3 class="title">
                            Kandidierende nach Geschlecht seit 1968
                        </h3>
                        <i class="description">
                            Entwicklung des Frauenanteils bei Grossratswahlen.
                        </i>
                    </div>
                    <div class="advanced-kpi--middle no-bg mb-0">
                        <div class="legend col-md-2">
                            <div class="legend-item">
                                <div class="color-box" style="background-color: #933F8D;"></div>
                                <span>Kandidierende</span>
                                <span class="info-icon">ℹ️</span>
                                <div class="info-box">Frauenanteil unter <b>allen</b> Kandidierenden</div>
                            </div>
                            <div class="legend-item">
                                <div class="color-box" style="background-color: #F5C80B;"></div>
                                <span>Gewählte</span>
                                <span class="info-icon">ℹ️</span>
                                <div class="info-box">Frauenanteil unter <b>gewählten</b> Kandidierenden</div>
                            </div>
                        </div>
                        <ods-dataset-context context="myctx" 
                                             myctx-dataset="100391" 
                                             myctx-parameters="{'sort':'-wahljahr'}">
                            <ods-chart scientific-display="false" 
                                       align-month="true"
                                       single-y-axis="true"
                                       single-y-axis-label="Prozent (%)"
                                       display-legend="false"
                                       max=50>
                                <ods-chart-query context="myctx" 
                                                 field-x="wahljahr" 
                                                 maxpoints="0">
                                    <ods-chart-serie expression-y="frauenanteil_kand" 
                                                     chart-type="column" 
                                                     function-y="AVG" 
                                                     label-y="Kandidierende" 
                                                     color="#933F8D" 
                                                     scientific-display="true">
                                    </ods-chart-serie>
                                    <ods-chart-serie expression-y="frauenanteil_gew" 
                                                     chart-type="column" 
                                                     function-y="AVG" 
                                                     label-y="Gewählte" 
                                                     color="#F5C80B" 
                                                     scientific-display="true">
                                    </ods-chart-serie>
                                </ods-chart-query>
                            </ods-chart>

                        </ods-dataset-context>
                    </div>
                    <div class="advanced-kpi--bottom">
                        <div class="advanced-kpi--bottom-second-stage">
                            <a class="source"
                               href="https://data.bs.ch/explore/dataset/100391" target="_blank"
                               title="Datensatz: Kandidierende der Grossratswahlen nach Geschlecht seit 1968">
                                Quelle
                                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <br/>
                <p>
                    Seit Einführung des kantonalen Frauenstimmrechts 1966 hat sich der Frauenanteil unter den Kandidierenden von anfangs einem Fünftel bis im Jahr 1996 verdoppelt und ging bis 2012 kontinuierlich zurück. 
                    2024 beträgt er 38,3 Prozent (+2,7 Prozentpunkte) und ist somit der zweithöchste Anteil Kandididatinnen seit Einführung des kantonalen Frauenstimmrechts.
                </p>
                <p>
                    Die Entwicklung der Frauen-Vertretung im baselstädtischen Kantonsparlament war 2012 nach einer längeren Wachstumsphase (Höchstwert 2008 mit 37 Prozent) bis 2020 wieder rückläufig. 
                    Nach den letzten Wahlen hat die Frauen-Vertretung im Grossen Rat wieder stark zugenommen und steht Stand September 2024 bei 43 Prozent.
                    Dies ist neuer Höchstwert.
                </p>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="heading">
                <div class="advanced-kpi">
                    <div class="advanced-kpi--top">
                        <h3 class="title">
                            Kandidierende 2024 nach Häufigkeit der Kandidatur seit 2008
                        </h3>
                        <i class="description">
                            Detailiierte Informationen zu den Kandidaturen wird durch das Klicken der Balken angezeigt.
                        </i>
                    </div>
                    <ods-dataset-context context="myctx,refinectx" 
                                         myctx-dataset="100393"
                                         refinectx-dataset="100393" 
                                         refinectx-parameters="{'disjunctive.haufigkeit':true,
                                                               'disjunctive.kandidaturen':true,
                                                               'disjunctive.gewahlt':true,
                                                               'sort': '-kandidaturen'}">
                        <div class="advanced-kpi--middle no-bg mb-0">
                            <div class="col-md-12">
                                <div class="col-md-2">
                                    <div class="legend">
                                        <div class="legend-item">
                                            <div class="color-box" style="background-color: #933F8D;"></div>
                                            <span>Nicht Gewählt</span>
                                        </div>
                                        <div class="legend-item">
                                            <div class="color-box" style="background-color: #F5C80B;"></div>
                                            <span>Gewählt</span>
                                            <span class="info-icon">ℹ️</span>
                                            <div class="info-box">Mindestens einmal gewählt zwischen 2008 und 2020</div>
                                        </div>
                                    </div>
                                </div>
                                <div ng-if="refinectx.parameters['refine.haufigkeit']"
                                     class="col-md-10 filters">
                                    <p class="appliedfilter" ng-repeat="filter in ([].concat(refinectx.parameters['refine.haufigkeit']))">
                                        {{filter}}-mal kandidiert
                                    </p>
                                    <a href class="resetfilter"
                                       ng-if="refinectx.parameters['refine.haufigkeit']"
                                       ng-click="refinectx.parameters['refine.haufigkeit'] = undefined">
                                        &larr; Filter zurücksetzen</a>
                                </div>
                            </div>
                            <div ng-if="!refinectx.parameters['refine.haufigkeit']">
                                <ods-chart single-y-axis="true" 
                                           scientific-display="false" 
                                           align-month="true"
                                           label-x="Häufigkeit Kandidaturen seit 2008"
                                           display-legend="false"
                                           max=400>
                                    <ods-chart-query context="myctx" 
                                                     field-x="haufigkeit" 
                                                     maxpoints="0" 
                                                     series-breakdown="gewahlt"
                                                     stacked="normal"
                                                     category-colors="{'Gewählt':'#F5C80B','Nicht Gewählt':'#933F8D'}">
                                        <ods-chart-serie expression-y="anzahl"
                                                         chart-type="bar" 
                                                         function-y="SUM" 
                                                         scientific-display="true"
                                                         display-values="true"
                                                         refine-on-click-context="refinectx"
                                                         refine-on-click-refinectx-context-field="haufigkeit">
                                        </ods-chart-serie>
                                    </ods-chart-query>
                                </ods-chart>
                            </div>
                            <div ng-if="refinectx.parameters['refine.haufigkeit']">
                                <ods-chart single-y-axis="true" 
                                           scientific-display="false" 
                                           align-month="true"
                                           labels-x-length="50"
                                           display-legend="false">
                                    <ods-chart-query context="refinectx" 
                                                     field-x="kandidaturen" 
                                                     maxpoints="0" 
                                                     series-breakdown="gewahlt"
                                                     stacked="normal"
                                                     category-colors="{'Gewählt':'#F5C80B','Nicht Gewählt':'#933F8D'}"
                                                     sort="-kandidaturen">
                                        <ods-chart-serie expression-y="anzahl" 
                                                         chart-type="bar" 
                                                         function-y="SUM" 
                                                         scientific-display="true"
                                                         display-values="true"
                                                         step=5>
                                        </ods-chart-serie>
                                    </ods-chart-query>
                                </ods-chart>
                            </div>
                        </div>
                    </ods-dataset-context>
                    <div class="advanced-kpi--bottom">
                        <div class="advanced-kpi--bottom-second-stage">
                            <a class="source"
                               href="https://data.bs.ch/explore/dataset/100393" target="_blank"
                               title="Datensatz: Kandidierende der Grossratswahlen 2024 nach Häufigkeit der Kandidatur seit 2008">
                                Quelle
                                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <br/>
                <p>
                    96 Bisherige treten 2024 zur Wiederwahl an.  
                </p>
                <p>
                    388 aktuell Kandidierende (44,6%) sind seit 2008 noch nie zur Wahl in den Grossen Rat angetreten, 
                    177 Kandidierende (20,2%) unternehmen nach 2020 einen zweiten Versuch. 
                    Insgesamt 482 Personen sind seit 2008 mindestens 1 weiteres Mal zur Wahl angetreten.
                </p>
                <p>
                    Wenn Kandidierende öfter antreten, dann tun sie dies häufig mehrmals hintereinander ohne grössere Pausen dazwischen: 
                    So sind 221 Personen zu den letzten drei Wahlen ohne Unterbruch angetreten, 141 zu den letzten vier und 66 gar zu den letzten fünf.
                </p>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="heading">
                <h3 class="title">
                    OGD-Datensätze
                </h3>
                <h2>
                    Verwendete Datensätze:
                </h2>
                <a href="https://data.bs.ch/explore/dataset/100385" target="_blank"
                   title="Datensatz: Kandidierende der Grossratswahl 20. Oktober 2024">
                   Kandidierende der Grossratswahl 20. Oktober 2024
                </a>
                <a href="https://data.bs.ch/explore/dataset/100392" target="_blank"
                   title="Datensatz: Kandidierende der Grossratswahlen nach Alter, Geschlecht und Liste seit 2020">
                   Kandidierende der Grossratswahlen nach Alter, Geschlecht und Liste seit 2020
                </a>
                <a href="https://data.bs.ch/explore/dataset/100394" target="_blank"
                   title="Datensatz: Kandidierende der Grossratswahlen nach Berufsgruppe seit 2020">
                   Kandidierende der Grossratswahlen nach Berufsgruppe seit 2020
                </a>
                <a href="https://data.bs.ch/explore/dataset/100391" target="_blank"
                   title="Datensatz: Kandidierende der Grossratswahlen nach Geschlecht seit 1968">
                   Kandidierende der Grossratswahlen nach Geschlecht seit 1968
                </a>
                <a href="https://data.bs.ch/explore/dataset/100393" target="_blank"
                   title="Datensatz: Kandidierende der Grossratswahlen 2024 nach Häufigkeit der Kandidatur seit 2008">
                   Kandidierende der Grossratswahlen 2024 nach Häufigkeit der Kandidatur seit 2008
                </a>
                <h2>
                    Weitere relevante Datensätze:
                </h2>
                <a href="https://data.bs.ch/explore/dataset/100386" target="_blank"
                   title="Datensatz: Kandidierende der Regierungsratswahl 20. Oktober 2024">
                   Kandidierende der Regierungsratswahl 20. Oktober 2024
                </a>
                <a href="https://data.bs.ch/explore/dataset/100387" target="_blank"
                   title="Datensatz: Kandidierende der Regierungspräsidiumswahl 20. Oktober 2024">
                   Kandidierende der Regierungspräsidiumswahl 20. Oktober 2024
                </a>
            </div>
        </div>
    </section>
</div>
