<!-- V3.0 : 
    - change content cards to access cards - light version with image on top
    - update search design
    - new design
    -->
<div ng-app="ods-widgets">
    <div class="container-fluid" 
        ng-init="domain = 'data.bs.ch';
        datasetidsource = '100080';
        filters = [
        {'id':'publisher','multiple':true},
        {'id':'theme_picto','multiple':true},
        {'id':'reuse_category','multiple':true},
        {'id':'dataset_title','multiple':true},
        {'id':'creator_category','multiple':true}
        ];
        fieldDate = 'created_at';
        resetFiltersButton = true;
        fieldDefaultRangeStartsNow = true;
        view = 'cards';
        fieldsList = ['reuse_category','description','user_full_name'];
        fieldLink = 'url';
        fieldLinkLabel = 'Details';
        cardTitle = 'title';
        fieldPhoto = 'thumbnail';
        imagePosition = 'left';
        itemsPerRow = '3';
        kpis = [
        {
        'title': 'Reuses',
        'function': 'COUNT',
        'precision': 0,
        'unit': ''
        }
        ];
        DO_NOT_MODIFY_BELOW;
        ctxfields = {};
        values = {};
        activeFilters = {};
        ">
        <!-- ### GENERAL SETTINGS ### -->
        <!-- domain : (Domain URL) : Must contain the URL of the domain where the dataset is published.
            ex: 'discovery.opendatasoft.com'
            -->
        <!-- datasetid (Dataset ID) : Must contain the ID of the dataset
            ex: 'oeuvres-de-johannes-vermeer'
            -->
        <!-- ### FILTERS SETTINGS ### -->
        <!-- filters (Filters) : List of field IDs to generate the filters pannel.
            NB: the field must be a facet in the dataset
            NB: alphanumerical sort is applied in the filter view
             ex: ['technique','collection','genre']
            -->
        <!-- ### DATE SETTINGS -->
        <!-- fieldDate : a date type field to display a date-range-slider -->
        <!-- resetFiltersButton : reset date period button true/false -->
        <!-- fieldDefaultRangeStartsNow : false make the default range selection start from the first date, and end to the last date, if set to true, the range starts from now, to the last date -->
        <!-- ### LIST VIEW SETTINGS ### -->
        <!-- view (List view type) : Type of the view to list results, can be 'table' or 'cards'
            -->
        <!-- fieldsList (List configuration) : Set the list of field IDs 
            ex: ['title','category','genre','date']
            -->
        <!-- fieldLink (Link to an external resource) : If available, the field ID of some external resource as a web URL
            ex: 'link'
            -->
        <!-- fieldLinkLabel (The label of that link) : Label of the link button
            ex: 'Read more here'
            -->
        <!-- Specific to the 'cards' view mode, set a title and a background image if any -->
        <!-- cardTitle (Title of the card) : Field id of the card title
            ex: 'title'
            -->
        <!-- fieldPhoto (Field id of the image field if any) 
            ex: 'image' 
            -->
        <!-- imagePosition (Image position) : Image position in the card, can be 'top' or 'left' 
            ex: 'left'
            -->
        <!-- itemsPerRow (Number of columns) : Modify the columns layout. The division by 12 must be a whole number, ie it can be 1, 2, 3, 4, 6 or 12. But 6 and 12 will generaly be two norrow 
            ex: '3' 
            -->
        <!-- ### KPIS SETTINGS ### -->
        <!-- KPIS settings is a list of object that describes each KPI
            List of available keys are :
            - title (Name of the KPI) ex: 'Average # of citizens'
            - function (function of the aggregation) ex: 'SUM'
            - expression (field id that contains numerical values to aggregate) ex: 'population'
            - precision (Decimal precision of the KPI) ex: 2
            - unit (KPI unit) ex: 'citizens'
            - faicon (FontAwesome icon id) ex: 'square-o'
            
            title, function, expression are MANDATORY
            the others are optionnal 
            
            Available functions are SUM, AVG, COUNT, STD, MAX, MIN.
            Please see the documentation for more information
            https://help.opendatasoft.com/widgets/#/api/ods-widgets.directive:odsAggregation
            
            Please see all available icons here
            https://fontawesome.com/v4.7.0/icons/
            
            ex: 
            kpis = [
                     {
                         'title': 'Taille moyenne',
                         'function': 'AVG',
                         'expression': 'surface',
                         'precision': 2,
                         'unit': 'm2',
                         'faicon': 'square-o'
                     },
                     {
                         'title': 'Nombre d\'oeuvre référencées',
                         'function': 'COUNT'
                     }
                  ];
            
            -->
        <!-- MUST READ 
            A common error is forget to protect commas with a leading backslash, as commas are used to declare values of variable it will break the settings
            wrongVariable = 'I'll be freed from commas'
            correctVariable = 'I\'ll be freed from commas'
            --> 
        <!-- DO NOT MODIFY -->
        <!-- Technical fields, do not modify please -->
        <ods-dataset-context context="ctx,ctxdate"
            ctx-domain="{{ domain }}"
            ctx-dataset="{{ datasetidsource }}"
            ctx-parameters="{'sort':'created_at'}"
            ctxdate-domain="{{ domain }}"
            ctxdate-dataset="{{ datasetidsource }}"
            ctxdate-parameters=customParameters>
            <!-- Private datasets can be accessed by adding an API Key.
                Add this param to the <ods-dataset-context above, 
                where XXX is your apikey :
                  ctx-apikey="XXX"
                -->
            <span ng-repeat="filter in filters">
            {{ ctx.parameters['refine.' + filter.id] = activeFilters[filter.id];"" }}
            </span>
            <span ng-if="fieldDefaultRangeStartsNow">
            {{ctxdate.parameters={'q.date': fieldDate + '&gt;#now()'}}}
            </span>
            <span ng-repeat="field in ctx.dataset.fields">
            {{ ctxfields[field.name] = field.label; '' }}
            </span>
            <section class="row">
                <div class="col-md-12">
                    <div class="page-header">
                        <h1 class="page-title">{{ ctx.dataset.metas.title }}</h1>
                        <p class="page-description">
                            Weiterverwendungen beziehen sich auf die Nutzung von Daten aus dem Datenportal. 
                            Dies können Anwendungen, Visualisierungen oder andere Projekte sein, die auf bestehenden Datensätzen basieren. 
                            Hier finden Sie eine Übersicht der verschiedenen Weiterverwendungen, die von Nutzern erstellt wurden.
                        </p>
                    </div>
                    <div class="search-module-container">
                        <div class="search-module-content">
                        <!-- SEARCH BAR -->
                            <div class="search-module">
                                <input
                                    placeholder="Suche"
                                    ng-model="ctx.parameters['q']"
                                    ng-model-options="{ updateOn: 'keyup', debounce: { 'default': 300, 'blur': 0 }}"
                                    class="search-module-input"
                                    type="text"
                                />
                                <button class="search-module-clear" ng-if="ctx.parameters['q']" ng-click="ctx.parameters['q'] = undefined">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </button>
                                <button class="search-module-btn">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                    <span>Suchen</span> <!-- Wrapped text for easier hiding on mobile -->
                                </button>
                            </div>

                            <!-- FILTERS -->
                            <div class="filter-list">
                                <div ng-repeat="filter in filters">
                                    {{ ctx.parameters['disjunctive.' + filter.id] = true; '' }}
                                    <div ods-facet-results="categories"
                                        ods-facet-results-facet-name="{{ filter.id }}"
                                        ods-facet-results-context="ctx"
                                        ods-facet-results-sort="alphanum">
                                        <p class="filter-label">
                                            {{ ctxfields[filter.id] }}
                                        </p>
                                        <ods-select ng-if="categories"
                                            selected-values="activeFilters[filter.id]"
                                            multiple="filter.multiple"
                                            options="categories"
                                            label-modifier="name"
                                            value-modifier="name"
                                            placeholder="Filter auswählen"></ods-select>
                                    </div>
                                </div>
                            </div>

                            <div class="clear-filters" ng-show="(activeFilters | values).join('')">
                                <div class="clear-filters-button" role="button" ng-click="activeFilters = {}">
                                    Filter zurücksetzen
                                    <i class="fa fa-times-circle" aria-hidden="true"></i>
                                </div>
                            </div>

                            <!-- Timerange Filter -->
                            <div ods-datetime="now">
                                <ods-timerange display-time="false" date-format="DD.MM.YYYY" context="ctx">
                                    <div class="odswidget-timerange"></div>
                                </ods-timerange>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- CARDS -->
            <section>
                <!-- Number of Results -->
                <div class="centered-container kpi-container">
                    <p class="kpi-info" ods-aggregation="agg" ods-aggregation-context="ctx"
                       ods-aggregation-function="{{ kpi.function }}"
                       ods-aggregation-expression="{{ kpi.expression }}">
                        {{ agg | number : (kpi.precision || 0) }} Resultate
                    </p>
                </div>

                <div class="centered-container">
                    <div class="row row-equal-height" 
                        ods-results="items" 
                        ods-results-context="ctx"
                        ods-results-max="100">
                        <div ng-repeat="item in items"
                            class="{{ 'col-md-' + (12/itemsPerRow) }} margin-bottom-20">
                            <div class="access-card">
                                <div class="access-card-container">
                                    <!-- Wrap image in <a> -->
                                    <a href="{{ item.fields[fieldLink] }}" target="_blank">
                                        <div class="access-card-img"
                                            style="{{ 'background-image: url(\'https://' + domain + '/assets/theme_image/' + (item.fields.themes.indexOf(';')>0?item.fields.themes.substring(0, item.fields.themes.indexOf(';')):item.fields.themes) + '.jpg\')' }};
                                            background-color: #5c5c5c;
                                            background-blend-mode: overlay;">
                                        </div>
                                    </a>
                                    <div class="access-card-content">
                                        <!-- Wrap content in <a> -->
                                        <a href="{{ item.fields[fieldLink] }}" target="_blank">
                                            <ods-theme-picto theme="{{item.fields.theme_picto }}" color="white"></ods-theme-picto>
                                            <h3 class="access-card-pretitle">{{item.fields.theme_picto}}</h3>
                                            <h2 class="access-card-title">{{ item.fields.title }}</h2>
                                            <h4 class="access-card-subtitle" ng-bind-html="item.fields.description|shortSummary|prettyText"></h4>
                                            <h3 class="access-card-further-info">{{item.fields.reuse_category }}</h3>
                                            <h3 class="access-card-further-info">Datensatz: {{item.fields.dataset_title }}</h3>
                                            <h3 class="access-card-further-info">Übermittelt durch {{item.fields.user_full_name}} am {{ item.fields.created_at|moment:"DD. MMMM YYYY"}}</h3>
                                        </a>
                                    </div>
                                </div>
                                <div class="access-card-button-container">
                                    <!-- Left button with original link -->
                                    <a href="{{ item.fields[fieldLink] }}" target="_blank" class="custom-button left-button">
                                    <img src="https://data.bs.ch/assets/theme_image/arrow-north-east.png" class="arrow-icon default-icon" />
                                    <img src="https://data.bs.ch/assets/theme_image/arrow-north-east-white.png" class="arrow-icon hover-icon" />
                                    {{ fieldLinkLabel }}
                                    </a>
                                    <!-- Right button with new URL -->
                                    <a href="https://{{ domain }}/explore/dataset/{{ item.fields.dataset_id }}" target="_blank" class="custom-button right-button">
                                    <img src="https://data.bs.ch/assets/theme_image/arrow-east.png" class="arrow-icon default-icon" />
                                    <img src="https://data.bs.ch/assets/theme_image/arrow-east-white.png" class="arrow-icon hover-icon" />
                                    Zum Datensatz
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </ods-dataset-context>
    </div>
</div>
