<!-- V2.0 :
 - add a date field that display a date range slider
 - download link knows support files hosted on ODS
 - dynamic title / descriptiton / access source link from the context
-->
<div ng-app="ods-widgets">

    <div class="container-fluid"
         ng-init="domain = 'basel-stadt.opendatasoft.com';
                  datasetidsource = '100080';

                  filters = [
                  {'id':'publisher','multiple':true},
                  {'id':'theme_picto','multiple':true},
                  {'id':'reuse_category','multiple':true},
                  {'id':'dataset_title','multiple':true},
                  {'id':'creator_category','multiple':true}
                  ];


                  fieldDate = 'created_at';
                  resetFiltersButton = true;
                  fieldDefaultRangeStartsNow = true;

                  view = 'cards';
                  fieldsList = ['reuse_category','description','user_full_name'];
                  fieldLink = 'url';
                  fieldLinkLabel = 'See reuse';

                  cardTitle = 'title';
                  fieldPhoto = 'thumbnail';
                  imagePosition = 'left';
                  itemsPerRow = '2';

                  kpis = [
                  {
                  'title': 'Reuses',
                  'function': 'COUNT',
                  'precision': 0,
                  'unit': ''
                  }
                  ];

                  DO_NOT_MODIFY_BELOW;

                  ctxfields = {};
                  values = {};
                  activeFilters = {};
                  ">

        <!-- ### GENERAL SETTINGS ### -->
        <!-- domain : (Domain URL) : Must contain the URL of the domain where the dataset is published.
     ex: 'discovery.opendatasoft.com'
    -->
        <!-- datasetid (Dataset ID) : Must contain the ID of the dataset
     ex: 'oeuvres-de-johannes-vermeer'
    -->

        <!-- ### FILTERS SETTINGS ### -->
        <!-- filters (Filters) : List of field IDs to generate the filters pannel.
    NB: the field must be a facet in the dataset
    NB: alphanumerical sort is applied in the filter view
     ex: ['technique','collection','genre']
    -->

        <!-- ### DATE SETTINGS -->
        <!-- fieldDate : a date type field to display a date-range-slider -->
        <!-- resetFiltersButton : reset date period button true/false -->
        <!-- fieldDefaultRangeStartsNow : false make the default range selection start from the first date, and end to the last date, if set to true, the range starts from now, to the last date -->

        <!-- ### LIST VIEW SETTINGS ### -->
        <!-- view (List view type) : Type of the view to list results, can be 'table' or 'cards'
    -->
        <!-- fieldsList (List configuration) : Set the list of field IDs
     ex: ['title','category','genre','date']
    -->
        <!-- fieldLink (Link to an external resource) : If available, the field ID of some external resource as a web URL
     ex: 'link'
    -->
        <!-- fieldLinkLabel (The label of that link) : Label of the link button
     ex: 'Read more here'
    -->

        <!-- Specific to the 'cards' view mode, set a title and a background image if any -->
        <!-- cardTitle (Title of the card) : Field id of the card title
     ex: 'title'
-->
        <!-- fieldPhoto (Field id of the image field if any)
     ex: 'image'
-->
        <!-- imagePosition (Image position) : Image position in the card, can be 'top' or 'left'
     ex: 'left'
-->
        <!-- itemsPerRow (Number of columns) : Modify the columns layout. The division by 12 must be a whole number, ie it can be 1, 2, 3, 4, 6 or 12. But 6 and 12 will generaly be two norrow
     ex: '3'
-->

        <!-- ### KPIS SETTINGS ### -->
        <!-- KPIS settings is a list of object that describes each KPI
     List of available keys are :
    - title (Name of the KPI) ex: 'Average # of citizens'
    - function (function of the aggregation) ex: 'SUM'
    - expression (field id that contains numerical values to aggregate) ex: 'population'
    - precision (Decimal precision of the KPI) ex: 2
    - unit (KPI unit) ex: 'citizens'
    - faicon (FontAwesome icon id) ex: 'square-o'

    title, function, expression are MANDATORY
    the others are optionnal

    Available functions are SUM, AVG, COUNT, STD, MAX, MIN.
    Please see the documentation for more information
    https://help.opendatasoft.com/widgets/#/api/ods-widgets.directive:odsAggregation

    Please see all available icons here
    https://fontawesome.com/v4.7.0/icons/

    ex:
    kpis = [
              {
                  'title': 'Taille moyenne',
                  'function': 'AVG',
                  'expression': 'surface',
                  'precision': 2,
                  'unit': 'm2',
                  'faicon': 'square-o'
              },
              {
                  'title': 'Nombre d\'oeuvre référencées',
                  'function': 'COUNT'
              }
           ];

-->

        <!-- MUST READ

    A common error is forget to protect commas with a leading backslash, as commas are used to declare values of variable it will break the settings
    wrongVariable = 'I'll be freed from commas'
    correctVariable = 'I\'ll be freed from commas'
-->

        <!-- DO NOT MODIFY -->
        <!-- Technical fields, do not modify please -->


        <ods-dataset-context context="ctx,ctxdate"
                             ctx-domain="{{ domain }}"
                             ctx-dataset="{{ datasetidsource }}"
                             ctx-parameters="{'sort':'created_at'}"
                             ctx-apikey="17ccd381aa65cb197af65ae480411eadbb6d31edeb559aab5b4e576a"
                             ctxdate-domain="{{ domain }}"
                             ctxdate-dataset="{{ datasetidsource }}"
                             ctxdate-parameters=customParameters
                             ctxdate-apikey="17ccd381aa65cb197af65ae480411eadbb6d31edeb559aab5b4e576a">

            <!-- Private datasets can be accessed by adding an API Key.
          Add this param to the <ods-dataset-context above,
          where XXX is your apikey :
            ctx-apikey="XXX"
        -->
            <span ng-repeat="filter in filters">
                {{ ctx.parameters['refine.' + filter.id] = activeFilters[filter.id];"" }}
            </span>
            <span ng-if="fieldDefaultRangeStartsNow">
                {{ctxdate.parameters={'q.date': fieldDate + '&gt;#now()'}}}
            </span>

            <h1 class="page-title"
                ods-aggregation="agg"
                ods-aggregation-context="ctx"
                ods-aggregation-function="{{ kpi.function }}"
                ods-aggregation-expression="{{ kpi.expression }}">
                {{ agg | number : (kpi.precision || 0) }}  {{ ctx.dataset.metas.title }}
            </h1>
            <!--div class="row">
            <section class="kpis-container"
                     ng-repeat="kpi in kpis">
                <!-- KPI box component -->
            <!--div class="kpi-card"
                     ods-aggregation="agg"
                     ods-aggregation-context="ctx"
                     ods-aggregation-function="{{ kpi.function }}"
                     ods-aggregation-expression="{{ kpi.expression }}">
                    <!--i class="kpi-icon fa fa-database" aria-hidden="true"></i-->
            <!--h2 class="kpi-title">
                        {{ agg | number : (kpi.precision || 0) }}
                        <span ng-if="kpi.unit" class="kpi-unit">{{ kpi.unit }}</span>
                    </h2>
                    <p class="kpi-description">
                        {{ kpi.title }}

                    </p>
                </div>
            </section>
        </div-->

           <!--
            <div class="subtitles">
                <p class="page-subtitle"
                   class="margin-bottom-20">Letzte Änderung {{ctx.dataset.metas.modified | date }} </p>

                <p class="page-subtitle">
                    <a href="https://{{ domain }}/explore/dataset/{{ datasetidsource }}/"
                       target="_blank"
                       class="margin-bottom-20">Verwendete Datenquelle</a> <i class="fa fa-external-link"></i> </p>
            </div>
                -->


            <span ng-repeat="field in ctx.dataset.fields">
                {{ ctxfields[field.name] = field.label; '' }}
            </span>
            <section class="row">
                <div class="col-md-12">
                    <div class="content-card-search search-module-container">
                        <!-- SEARCH -->
                        <div class="search-module">
                            <i class="fa fa-search search-module-icon" aria-hidden="true"></i>
                            <input placeholder="Suche nach einer Weiterverwendung"
                                   ng-model="ctx.parameters['q']"
                                   ng-model-options="{ updateOn: 'keyup', debounce: { 'default': 300, 'blur': 0 }}"
                                   class="search-module-input"
                                   type="text"/>
                            <button class="search-module-clear"
                                    ng-if="ctx.parameters['q']"
                                    ng-click="ctx.parameters['q'] = undefined">
                                <i class="fa fa-times-circle" aria-hidden="true"></i>
                            </button>
                        </div>
                        <div class="filter-list"
                             ng-init="dropdown.open = '';
                                      select = {}">
                            <div ng-repeat="filter in filters">
                                {{ ctx.parameters['disjunctive.' + filter.id] = true; '' }}
                                <div ods-facet-results="categories"
                                     ods-facet-results-facet-name="{{ filter.id }}"
                                     ods-facet-results-context="ctx"
                                     ods-facet-results-sort="alphanum">
                                    <ods-select ng-if="categories"
                                                selected-values="activeFilters[filter.id]"
                                                multiple="filter.multiple"
                                                options="categories"
                                                label-modifier="name"
                                                value-modifier="name"
                                                placeholder="{{ ctxfields[filter.id] }}"></ods-select>
                                </div>
                            </div>

                            <div class="clear-filters"
                                 ng-show="(activeFilters | values).join('')">
                                <div class="clear-filters-button"
                                     role="button"
                                     ng-click="activeFilters = {}">
                                    {{ resetFiltersButtonLabel }}
                                    <i class="fa fa-times-circle" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>


                        <div class="filter-date"
                             ng-if="fieldDate">
                            <!--
        On récupère la plage de date du jeu de données. On fait une analyse pour récupérer la première et dernière date du champs date_de_restitution
        pour le min: conditionnelle pour ajouter le 0 si le mois ou le jour est inférieur à 10 pour avoir une date iso
        [dateminmax.results.length-1] : permet de récupérer dynamiquement le dernier élément de l'array du results => donc ici on calcule le nombre d'éléments dans l'array pour la date, donc 2, et 2-1= 1 donc 2019
        Pareil que précédemment, ne pas hésiter à enlever le '' pour voir le comportement
    -->
                            <span ods-analysis="dateminmax"
                                  ods-analysis-context="ctxdate"
                                  ods-analysis-x-year="{{ fieldDate }}.year"
                                  ods-analysis-x-month="{{ fieldDate }}.month"
                                  ods-analysis-x-day="{{ fieldDate }}.day"
                                  ods-analysis-serie-c="COUNT()"
                                  ods-analysis-sort="x.{{ fieldDate }}.year,x.{{ fieldDate }}.month,x.{{ fieldDate }}.day">
                                <span ng-if="dateminmax.results">
                                    {{ values['periode']['min'] = dateminmax.results[0].x.year + '-' + (10 > dateminmax.results[0].x.month?'0':'') + dateminmax.results[0].x.month + '-' + (10 > dateminmax.results[0].x.day?'0':'') + dateminmax.results[0].x.day;
                                    values['periode']['max'] = dateminmax.results[dateminmax.results.length-1].x.year + '-' + (10 > dateminmax.results[dateminmax.results.length-1].x.month?'0':'') + dateminmax.results[dateminmax.results.length-1].x.month + '-' + (10 > dateminmax.results[dateminmax.results.length-1].x.day?'0':'') + dateminmax.results[dateminmax.results.length-1].x.day;
                                    ''}}
                                </span>
                            </span>

                            <!-- Affichage du range slider: les dates récupérées dans l'analyse pour initialiser les bounds
                         la sélection période par défaut avec le mois + 1
                         le min/maxselection qui correspondent aux bornes choisies par le user -->

                            <ods-date-range-slider ng-if="values.periode.min && values.periode.max"
                                                   context="ctx"
                                                   initial-from="{{ values.periode.min }}"
                                                   initial-to="{{ values.periode.max }}"
                                                   start-bound="values.periode.min"
                                                   end-bound="values.periode.max"
                                                   date-field="{{ fieldDate }}"
                                                   precision="day"
                                                   from="values.periode.minselection"
                                                   to="values.periode.maxselection">
                            </ods-date-range-slider>

                            <!-- le click sur toute la période resette la période choisie sur la date min et max -->
                            <!--div ng-if="resetFiltersButton" class="filter-date-button">
                            <button class="dropdown-button"
                                    ng-class="{'dropdown-button-disabled':
                                              values.periode.minselection == values.periode.min &&
                                              values.periode.maxselection == values.periode.max}"
                                    ng-click="values.periode.minselection = values.periode.min;
                                              values.periode.maxselection = values.periode.max">
                                Go back to the entire period
                            </button>
                        </div-->

                        </div>
                        <!-- KPIs -->

                    </div>
                </div>

            </section>

            <!--div class="row">
                <section class="kpis-container"
                         ng-repeat="kpi in kpis">
                <!-- KPI box component -->
            <!--div class="kpi-card"
                             ods-aggregation="agg"
                             ods-aggregation-context="ctx"
                             ods-aggregation-function="{{ kpi.function }}"
                             ods-aggregation-expression="{{ kpi.expression }}">
                            <i class="kpi-icon fa fa-database" aria-hidden="true"></i>
                            <h2 class="kpi-title">
                                {{ agg | number : (kpi.precision || 0) }}
                                <span ng-if="kpi.unit" class="kpi-unit">{{ kpi.unit }}</span>
                            </h2>
                            <p class="kpi-description">
                                {{ kpi.title }}

                            </p>
                        </div>
                </section>
                </div-->



            <!-- KPIs -->
            <!--section class="kpis-container">
                     <div class="col-md-4"
                         ng-repeat="kpi in kpis">
                    <!--div class="{{ 'col-md-' + (12/itemsPerRow) }} margin-bottom-20"
                         ng-repeat="kpi in kpis"-->
            <!-- KPI box component -->
            <!--div class="kpi-card"
                             ods-aggregation="agg"
                             ods-aggregation-context="ctx"
                             ods-aggregation-function="{{ kpi.function }}"
                             ods-aggregation-expression="{{ kpi.expression }}">
                            <i class="kpi-icon fa fa-database" aria-hidden="true"></i>
                            <h2 class="kpi-title">
                                {{ agg | number : (kpi.precision || 0) }}
                                <span ng-if="kpi.unit" class="kpi-unit">{{ kpi.unit }}</span>
                            </h2>
                            <p class="kpi-description">
                                {{ kpi.title }}

                            </p>
                        </div>
                    </div>
                </section-->



            <!-- TABLE -->
            <section ng-if="view == 'table'"
                     class="content-card">
                <div class="table-module">
                    <table class="table-basic"
                           ods-results="items"
                           ods-results-context="ctx"
                           ods-results-max="20">
                        <thead>
                            <tr>
                                <th ng-repeat="field in fieldsList">{{ ctxfields[field] }}</th>
                                <th ng-if="fieldLink"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in items">
                                <td ng-repeat="field in fieldsList"
                                    style="max-width: calc(100vh / {{ fieldsList.length }});"
                                    title="{{ item.fields[field] }}">
                                    {{ item.fields[field] }}
                                </td>
                                <td ng-if="fieldLink">
                                    <a href="{{ item.fields[fieldLink] }}"
                                       tilte="{{ fieldLinkLabel }}"
                                       target="_blank"
                                       class="table-dropdown-button">
                                        <i class="fa fa-external-link"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>


            <!-- CARDS -->
            <section ng-if="view == 'cards'">
                <div class="row row-equal-height"
                     ods-results="items"
                     ods-results-context="ctx"
                     ods-results-max="100">
                    <div ng-repeat="item in items"
                         class="{{ 'col-md-' + (12/itemsPerRow) }} margin-bottom-20">
                        <div class="content-card"
                             ng-class="{'content-card-horizontal': imagePosition === 'left' }">
                            <div class="timeline-img-header">

                                <div class="content-card-imgback"
                                     style="{{ 'background-image: url(\'https://' + domain + '/assets/theme_image/' + (item.fields.themes.indexOf(';')>0?item.fields.themes.substring(0, item.fields.themes.indexOf(';')):item.fields.themes) + '.jpg\')' }};
                                          background-color: #5c5c5c;
                                          background-blend-mode: overlay;">
                                    <!--img ng-src="/assets/theme_image/{{item.fields.themes}}.png" -->

                                    <h2 >{{ item.fields.title }}</h2>
                                </div>

                            </div>

                            <div class="date">
                                <span ng-if="item.fields.created_at"> {{ item.fields.created_at|moment:"DD. MMMM YYYY"}}</span>

                            </div>
                            <div class="content-card-content">
                                <!--div class="content-card-theme">
                                        <ods-theme-picto class="ods-card-theme-picto" theme="{{ item.fields.theme_picto }}"></ods-theme-picto>
                                    </div-->

                                <div class="content-card-body">
                                            <ul><div class="bottom1">
                                            <li><strong style="color:#1C0F31"> Datensatz: <a href="https://{{ domain }}/explore/dataset/{{ item.fields.dataset_id }}">{{item.fields.dataset_title }} </a></strong></li>
                                            <li><strong ng-if="item.fields.reuse_category"> {{item.fields.reuse_category }}:</strong> {{item.fields.description}}</li>
                                            <li><strong ng-if="item.fields.user_full_name">Übermittelt durch:</strong> {{item.fields.user_full_name}}</li>
                                            </div>



                                           </ul>



                                            <!--div class="content-last-line">
                                                <div class="content-card-theme">
                                                    <ods-theme-picto class="ods-card-theme-picto" theme="{{ item.fields.theme_picto }}">  </ods-theme-picto>
                                                    <div class="theme-name">{{item.fields.theme_picto }}</div>

                                                </div>
                                                <div ng-if="fieldLink" class="text-center">
                                                    <!-- if fieldLink is a json and contains the 'id' key, it means that the link points to a file hosted on ODS platform and can be downloaded. If it's an external link, the other link tag is used -->
                                                    <!--a ng-if="item.fields[fieldLink].id"
                                                       href="https://{{ domain }}/explore/dataset/{{ datasetidsource }}/files/{{ item.fields[fieldLink].id }}/download/"
                                                       target="_blank"
                                                       class="content-card-button">

                                                        {{ fieldLinkLabel }}
                                                    </a>

                                                    <!-- fieldLink is used here
                                                              For more advanced scenario, you can send the user to :

                                                              - the dataset table filtered with the fieldLink value, through a text query
                                                              href="/explore/dataset/{{ datasetidsource }}/table?q={{ item.fields[fieldLink] }}"

                                                              - the dataset table filtered with the fieldLink value, through a refine on the field
                                                              href="/explore/dataset/{{ datasetidsource }}/table?refine.{{ fieldLink }}={{ item.fields[fieldLink] }}"

                                                              - a page using url-sync=true setting :
                                                              href="/pages/yourpage/?refine.{{ fieldLink }}={{ item.fields[fieldLink] }}"
                                                              -->
                                                    <!--a ng-if="!item.fields[fieldLink].id" href="{{ item.fields[fieldLink] }}"
                                                       target="_blank"
                                                       class="content-card-button">
                                                        <i class="fa fa-external-link"></i>
                                                    </a>
                                                </div>

                                            </div>


                                        <!--div class="content-dataset"-->
                                        <!--dl>
                                            <dt>
                                                <strong> Dataset associated</strong>

                                            </dt>
                                            <dd>
                                                <strong> <a href="https://{{ domain }}/explore/dataset/{{ item.fields.dataset_id }}">{{item.fields.dataset_title }} </a></strong>
                                            </dd>


                                        </dl-->
                                        <!--/div-->

                                        <!--dl>
                                            <dt ng-repeat-start="field in fieldsList">{{ ctxfields[field] }}</dt>
                                            <dd ng-repeat-end>{{ item.fields[field] }}</dd>
                                            <dt ng-if="item.fields[fieldPhoto]">
                                                Thumbnail
                                            </dt>
                                            <!--dd ng-if="item.fields[fieldPhoto]">
                                                <img class="content-card-img"
                                                     src="{{ 'https://' + domain + '/explore/dataset/' + datasetidsource + '/files/' + item.fields[fieldPhoto].id + '/300/' }}">
                                            </dd-->
                                        <!--dl-->
                                        <!--/dl-->
                                        <!--/dl-->

                                </div>
                            </div>
                                                <div class="bottom2">

                                               <ods-theme-picto  theme="{{item.fields.theme_picto }}" color="white"></ods-theme-picto>
                                                <p class="bnt-themes"><b>{{item.fields.theme_picto }}</b></p>
                                               <a ng-if="!item.fields[fieldLink].id"
                                               class="bnt-more"
                                               target="_blank"
                                               ng-href="{{ item.fields[fieldLink] }}"><i class="fa fa-external-link" aria-hidden="true"></i></a>
                                                </div>
                        </div>
                    </div>
                </div>
            </section>

        </ods-dataset-context>
    </div>

</div>


