<div class="container-fluid">
    <section>
        <div class="heading">
            <h1 class="title">Sauberkeitsindex (SKI)</h1>
            <p> Der Sauberkeitsindex ist eine Metrik zur Beschreibung der Sauberkeit von Strassenabschnitten. Er wird von der Stadtreinigung des Kantons Basel-Stadt berechnet und publiziert.</p>
            <p> Der Sauberkeitsindex wird auf einer Skala von 0 bis 5 angegeben, wobei die Werte folgendermassen beurteilt werden:<br/> 
                Kleiner als 3: schlecht<br/>
                Zwischen 3 und 4: mittel<br/>
                Grösser als 4: gut<br/>
                Der Grosse Rat beauftragt das Tiefbauamt mit dem Erreichen eines Indexes für die gesamte Stadt von mindestens 4.5.<br/></p>
            
            <div ng-init="showDetails = false;">
                <button class="button-see-more"
                        ng-click="showDetails = !showDetails">
                    <span ng-show="showDetails == false">
                        Weitere Informationen
                        <i class="fa fa-long-arrow-down fa-fw" aria-hidden="true"></i>
                    </span>
                    <span ng-show="showDetails == true">
                        Weitere Informationen
                        <i class="fa fa-long-arrow-up fa-fw" aria-hidden="true"></i>
                    </span>
                </button>
                <div ng-if="showDetails == true">
            <p>Auf den Kehrichtfahrzeugen sind Kameras installiert, 
                die während der Einsätze Videoaufnahmen der Strassen machen. 
                Ein Computer durchsucht anschliessend diese Videoaufnahmen nach Abfällen. 
                Dieser sortiert die Abfälle in verschiedene Abfallkategorien (Zigarettenstummel, 
                Papier, PET-Flaschen etc.) und zählt die Anzahl der gefundenen Abfälle jeder Kategorie. 
                Zusätzlich wird für jede Abfallkategorie der Verschmutzungsgrad und der Störfaktor bestimmt. 
                Daraus wird der Sauberkeitsindex berechnet. 
               Danach werden die Videoaufnahmen aus Datenschutzgründen umgehend gelöscht.</p>
            <p> Hier sind die Daten im Datenportal 
                <a class="source"
                    href="https://data.bs.ch/explore/dataset/100362"
                    title="Title"><i class="fa fa-long-arrow-right"
                    aria-hidden="true"></i>Sauberkeitsindex pro Quartal und Wohnviertel
                </a><br/>
                Hier sind die Geodaten im Datenportal
                <a class="source"
                    href="https://data.bs.ch/explore/dataset/100042"
                    title="Title"><i class="fa fa-long-arrow-right"
                    aria-hidden="true"></i>Statistische Raumeinheiten: Wohnviertel
                </a><br/>
                Weitere Daten im Datenportal zu diesem Thema
                <a class="source"
                    href="https://data.bs.ch/explore/dataset/100288"
                    title="Title"><i class="fa fa-long-arrow-right"
                    aria-hidden="true"></i>Sauberkeitsindex pro Monat und Strassenabschnitt
                </a>
                <br/></p>
               <p> Das Dashboard bietet zwei Ansichten. Im <b>Analyse</b>-Tab können die Daten sowohl räumlich als auch zeitlich erkundet werden.
                Der <b>Wohnviertel-Vergleich</b>-Tab bietet die Möglichkeit, den Sauberkeitsindex zweier Zeitperioden zu vergleichen.
               </p>                
                </div>
            </div>
        </div>
    </section>
    <div class="heading">
        <ods-simple-tabs>
        <ods-simple-tab label="Analyse">
            <ods-dataset-context context="gesamtctx,viertelctx,sauberkeit"
                viertelctx-dataset="100362"
                viertelctx-parameters="{'sort':'-quartal',
                'disjunctive.wohnviertel':true,
                'disjunctive.quartal':true,
                'disjunctive.jahr':true,
                'disjunctive.quartalsnummer':true}"
                sauberkeit-dataset="100362"
                sauberkeit-parameters="{'sort':'-quartal',
                'disjunctive.wohnviertel':true,
                'disjunctive.quartal':true,
                'disjunctive.jahr':true,
                'disjunctive.quartalsnummer':true}">
                <section>
                    <div class="row">
                        <div class="col-md-6">
                            <ods-facets context="sauberkeit">
                                <div class="col-md-6">
                                    <h3>
                                        <span ng-if="sauberkeit.parameters['refine.jahr'].length === 0">
                                        Jahr <i>(alle)</i>
                                        </span>
                                        <span ng-if="sauberkeit.parameters['refine.jahr'].length > 0">
                                        Jahr <i>({{ sauberkeit.parameters['refine.jahr'].join(', ') }})</i>
                                        </span>
                                    </h3>
                                    <div ods-facet-results="jahre"
                                        ods-facet-results-context="sauberkeit"
                                        ods-facet-results-facet-name="jahr"
                                        ods-facet-results-sort="alphanum">
                                        <ods-select options="jahre"
                                            selected-values="sauberkeit.parameters['refine.jahr']"
                                            placeholder="alle Jahre"
                                            label-modifier="name"
                                            value-modifier="name"
                                            multiple="true"></ods-select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <h3>
                                        <span ng-if="sauberkeit.parameters['refine.quartalsnummer'].length === 0">
                                        Quartal <i>(alle)</i>
                                        </span>
                                        <span ng-if="sauberkeit.parameters['refine.quartalsnummer'].length > 0">
                                        Quartal <i>({{ sauberkeit.parameters['refine.quartalsnummer'].join(', ') }}. Quartal)</i>
                                        </span>
                                    </h3>
                                    <div ods-facet-results="quartale"
                                        ods-facet-results-context="sauberkeit"
                                        ods-facet-results-facet-name="quartalsnummer"
                                        ods-facet-results-sort="alphanum">
                                        <ods-select options="quartale"
                                            selected-values="sauberkeit.parameters['refine.quartalsnummer']"
                                            placeholder="alle Quartale"
                                            label-modifier="name + '. Quartal'"
                                            value-modifier="name"
                                            multiple="true"></ods-select>
                                    </div>
                                </div>
                            </ods-facets>
                        </div>
                        <div class="col-md-6">
                        </div>
                    </div>
                    <div class="row"
                        ods-color-gradient="colorgradient"
                        ods-color-gradient-context="sauberkeit"
                        ods-color-gradient-x="wohnviertel"
                        ods-color-gradient-serie="AVG(ski)"
                        ods-color-gradient-high="rgb(180, 197, 241)"
                        ods-color-gradient-low="rgb(20, 33, 96)">
                        <div class="col-md-6">
                            <div class="box white flat">
                                <div class="advanced-kpi">
                                    <div class="advanced-kpi--top">
                                        <h3 class="title">
                                            Karte - Sauberkeitsindex (SKI) pro Wohnviertel
                                        </h3>
                                        <i class="description">
                                        Durchschnitt
                                        <span ng-if="sauberkeit.parameters['refine.quartalsnummer'].length === 0 || sauberkeit.parameters['refine.quartalsnummer'].length === 4">
                                        aller Quartale
                                        </span>
                                        <span ng-if="sauberkeit.parameters['refine.quartalsnummer'].length === 3">
                                        {{ sauberkeit.parameters['refine.quartalsnummer'][0]}}., {{ sauberkeit.parameters['refine.quartalsnummer'][1]}}. und {{ sauberkeit.parameters['refine.quartalsnummer'][2]}}. Quartal
                                        </span>
                                        <span ng-if="sauberkeit.parameters['refine.quartalsnummer'].length > 0 && sauberkeit.parameters['refine.quartalsnummer'].length < 3">
                                        {{ sauberkeit.parameters['refine.quartalsnummer'].join('. und ') }}. Quartal
                                        </span>
                                        <span ng-if="sauberkeit.parameters['refine.jahr'].length === 0">
                                        seit 2021
                                        </span>
                                        <span ng-if="sauberkeit.parameters['refine.jahr'].length === 1">
                                        für das Jahr {{ sauberkeit.parameters['refine.jahr'].join(', ') }}
                                        </span>
                                        <span ng-if="sauberkeit.parameters['refine.jahr'].length > 1">
                                        für die Jahre {{ sauberkeit.parameters['refine.jahr'].join(', ') }}
                                        </span>
                                        </i>
                                    </div>
                                    <div class="advanced-kpi--middle no-bg mb-0">
                                        <div class="map-container">
                                            <ods-map style="height:600px"
                                                no-refit="true" 
                                                scroll-wheel-zoom="false" 
                                                basemap="9fffa5"
                                                location="12,47.55689,7.58537">
                                                <ods-map-layer-group>
                                                    <ods-map-layer context="sauberkeit" 
                                                        color-categories="colorgradient['colors']" 
                                                        color-by-field="wohnviertel" 
                                                        color-categories-other="lightgrey" 
                                                        display="categories" 
                                                        shape-opacity="1" 
                                                        border-color="#FFFFFF" 
                                                        border-size="1.5" 
                                                        border-pattern="solid" 
                                                        title="Sauberkeitsindex pro Quartal und Wohnviertel" 
                                                        description="Dieser Datensatz enthält den Sauberkeitsindex für alle Wohnviertel in der Stadt Basel." 
                                                        refine-on-click-context="viertelctx" 
                                                        refine-on-click-viertelctx-replace-refine="false" 
                                                        refine-on-click-viertelctx-map-field="wohnviertel" 
                                                        refine-on-click-viertelctx-context-field="wohnviertel"> </ods-map-layer>
                                                </ods-map-layer-group>
                                                <ods-map-layer-group>
                                                    <ods-map-layer 
                                                        context="viertelctx" 
                                                        show-if="viertelctx.parameters['refine.wohnviertel']" 
                                                        color="transparent" 
                                                        border-color="black" 
                                                        border-opacity="1" 
                                                        border-size="3" 
                                                        refine-on-click-context="viertelctx" 
                                                        refine-on-click-viertelctx-replace-refine="false"
                                                        refine-on-click-viertelctx-map-field="wohnviertel" 
                                                        refine-on-click-viertelctx-context-field="wohnviertel"> </ods-map-layer>
                                                </ods-map-layer-group>
                                            </ods-map>
                                            <ods-legend title="SKI"
                                                color-gradient="colorgradient"
                                                display="linear"
                                                no-value-color="lightgrey"
                                                decimal-precision="0"></ods-legend>
                                        </div>
                                    </div>
                                    <div class="advanced-kpi--bottom">
                                        <div class="advanced-kpi--bottom-second-stage">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="box white flat">
                                <div class="advanced-kpi">
                                    <div class="advanced-kpi--top">
                                        <h3 class="title">
                                            Sauberkeitsindex (SKI) pro Wohnviertel
                                        </h3>
                                        <i class="description">
                                        Durchschnitt
                                        <span ng-if="sauberkeit.parameters['refine.quartalsnummer'].length === 0 || sauberkeit.parameters['refine.quartalsnummer'].length === 4">
                                        aller Quartale
                                        </span>
                                        <span ng-if="sauberkeit.parameters['refine.quartalsnummer'].length === 3">
                                        {{ sauberkeit.parameters['refine.quartalsnummer'][0]}}., {{ sauberkeit.parameters['refine.quartalsnummer'][1]}}. und {{ sauberkeit.parameters['refine.quartalsnummer'][2]}}. Quartal
                                        </span>
                                        <span ng-if="sauberkeit.parameters['refine.quartalsnummer'].length > 0 && sauberkeit.parameters['refine.quartalsnummer'].length < 3">
                                        {{ sauberkeit.parameters['refine.quartalsnummer'].join('. und ') }}. Quartal
                                        </span>
                                        <span ng-if="sauberkeit.parameters['refine.jahr'].length === 0">
                                        seit 2021
                                        </span>
                                        <span ng-if="sauberkeit.parameters['refine.jahr'].length === 1">
                                        für das Jahr {{ sauberkeit.parameters['refine.jahr'].join(', ') }}
                                        </span>
                                        <span ng-if="sauberkeit.parameters['refine.jahr'].length > 1">
                                        für die Jahre {{ sauberkeit.parameters['refine.jahr'].join(', ') }}
                                        </span>
                                        </i>
                                    </div>
                                    <div class="advanced-kpi--middle no-bg mb-0">
                                        <ods-chart 
                                            style="height:600px"
                                            scientific-display="false"
                                            display-legend="false"
                                            align-month="true"
                                            labels-x-length="20">
                                            <ods-chart-query context="sauberkeit" 
                                                field-x="wohnviertel" 
                                                maxpoints="0"
                                                sort="serie1-1" 
                                                category-colors="colorgradient['colors']">
                                                <ods-chart-serie expression-y="ski"
                                                    chart-type="bar" 
                                                    function-y="AVG"
                                                    color="range-Dark2"
                                                    display-values="true" 
                                                    display-stack-values="false" 
                                                    label-y="Sauberkeitsindex (SKI)"
                                                    min="{{ axisRangeToggle1 ? 4 : 0 }}" 
                                                    max="{{ axisRangeToggle1 ? 5 : 5.9 }}"
                                                    step="{{ axisRangeToggle1 ? 0.1 : 1 }}"
                                                    scientific-display="true"
                                                    refine-on-click-context="viertelctx"
                                                    refine-on-click-viertelctx-context-field="wohnviertel">
                                                </ods-chart-serie>
                                            </ods-chart-query>
                                        </ods-chart>
                                    </div>
                                    <div class="advanced-kpi--bottom">
                                        <div class="advanced-kpi--bottom-second-stage">
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input" ng-model="axisRangeToggle1">
                                                <label class="form-check-label" for="axisRangeToggle1">Achsenbereich zwischen 4 und 5</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="row">
                        <div class="col-md-6">
                            <ods-facets>
                            <div class="col-md-12">
                                <h3>
                                    <span ng-if="viertelctx.parameters['refine.wohnviertel'].length === 0">
                                    Wohnviertel <i>(alle)</i>
                                    </span>
                                    <span ng-if="viertelctx.parameters['refine.wohnviertel'].length > 0">
                                    Wohnviertel <i>({{ viertelctx.parameters['refine.wohnviertel'].join(', ') }})</i>
                                    </span>
                                </h3>
                                <div ods-facet-results="wohnviertels"
                                    ods-facet-results-context="viertelctx"
                                    ods-facet-results-facet-name="wohnviertel"
                                    ods-facet-results-sort="alphanum">
                                    <ods-select ng-init="viertelctx.parameters['refine.wohnviertel'] = ['gesamtes Stadtgebiet']"
                                        options="wohnviertels"
                                        selected-values="viertelctx.parameters['refine.wohnviertel']"
                                        placeholder="alle Wohnviertel"
                                        label-modifier="name"
                                        value-modifier="name"
                                        multiple="true"></ods-select>
                                </div>
                            </div>
                        </ods-facets>
                        </div>
                        <div class="col-md-6">
                        </div>
                    </div>
                    <div style="font-size: 1.5em; margin: 0 1em 1em" ng-if="viertelctx.parameters['refine.wohnviertel'].length === 0">
                        <i>Keine Wohnviertel ausgewählt</i>
                    </div>
                    <div ng-if="viertelctx.parameters['refine.wohnviertel'].length > 0">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="box white flat">
                                    <div class="advanced-kpi">
                                        <div class="advanced-kpi--top">
                                            <h3 class="title">
                                                Sauberkeitsindex (SKI) pro Quartal und Jahr
                                            </h3>
                                            <i class="description">
                                            Quartalswerte der einzelnen Quartale seit 2021
                                            </i>
                                        </div>
                                        <div class="advanced-kpi--middle no-bg mb-0">
                                            <ods-chart style="height:400px"
                                                align-month="true">
                                                <ods-chart-query context="viertelctx" 
                                                    field-x="quartal_beginn" 
                                                    maxpoints="0" 
                                                    timescale="month"
                                                    series-breakdown="wohnviertel">
                                                    <ods-chart-serie expression-y="ski"
                                                        chart-type="line" 
                                                        function-y="AVG" 
                                                        color="range-Dark2"
                                                        display-values="false" 
                                                        display-stack-values="false" 
                                                        min="{{ axisRangeToggle2 ? 4 : 0 }}" 
                                                        max="5"
                                                        step="{{ axisRangeToggle2 ? 0.1 : 1 }}"
                                                        scientific-display="true"
                                                        label-y="Sauberkeitsindex (SKI)">
                                                    </ods-chart-serie>
                                                </ods-chart-query>
                                            </ods-chart>
                                        </div>
                                        <div class="advanced-kpi--bottom">
                                            <div class="advanced-kpi--bottom-second-stage">
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" ng-model="axisRangeToggle2">
                                                    <label class="form-check-label" for="axisRangeToggle2">Achsenbereich zwischen 4 und 5</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="box white flat">
                                    <div class="advanced-kpi">
                                        <div class="advanced-kpi--top">
                                            <h3 class="title">
                                                Sauberkeitsindex (SKI) pro Quartal
                                            </h3>
                                            <i class="description">
                                            Durchschnitt gruppiert nach Quartalen seit 2021
                                            </i>
                                        </div>
                                        <div class="advanced-kpi--middle no-bg mb-0">
                                            <ods-chart style="height:400px"
                                                scientific-display="false" 
                                                align-month="true">
                                                <ods-chart-query context="viertelctx" 
                                                    field-x="quartalsnummer" 
                                                    maxpoints="0" 
                                                    series-breakdown="wohnviertel">
                                                    <ods-chart-serie expression-y="ski"
                                                        chart-type="column" 
                                                        function-y="AVG" 
                                                        color="range-Dark2"
                                                        display-values="true" 
                                                        display-stack-values="false" 
                                                        min="{{ axisRangeToggle3 ? 4 : 0 }}" 
                                                        max="{{ axisRangeToggle3 ? 5 : 5.9 }}" 
                                                        step="{{ axisRangeToggle3 ? 0.1 : 1 }}"
                                                        scientific-display="true"
                                                        label-y="Sauberkeitsindex (SKI)">
                                                    </ods-chart-serie>
                                                </ods-chart-query>
                                            </ods-chart>
                                        </div>
                                        <div class="advanced-kpi--bottom">
                                            <div class="advanced-kpi--bottom-second-stage">
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" ng-model="axisRangeToggle3">
                                                    <label class="form-check-label" for="axisRangeToggle3">Achsenbereich zwischen 4 und 5</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="box white flat">
                                    <div class="advanced-kpi">
                                        <div class="advanced-kpi--top">
                                            <h3 class="title">
                                                Sauberkeitsindex (SKI) pro Jahr
                                            </h3>
                                            <i class="description">
                                            Durchschnitt gruppiert nach Jahr
                                            </i>
                                        </div>
                                        <div class="advanced-kpi--middle no-bg mb-0">
                                            <ods-chart style="height:400px"
                                                scientific-display="false" 
                                                align-month="true">
                                                <ods-chart-query context="viertelctx" 
                                                    field-x="jahr" 
                                                    maxpoints="0" 
                                                    series-breakdown="wohnviertel">
                                                    <ods-chart-serie expression-y="ski"
                                                        chart-type="column" 
                                                        function-y="AVG" 
                                                        color="range-Dark2"
                                                        display-values="true" 
                                                        display-stack-values="false" 
                                                        min="{{ axisRangeToggle4 ? 4 : 0 }}" 
                                                        max="{{ axisRangeToggle4 ? 5 : 5.9 }}" 
                                                        step="{{ axisRangeToggle4 ? 0.1 : 1 }}"
                                                        scientific-display="true"
                                                        label-y="Sauberkeitsindex (SKI)">
                                                    </ods-chart-serie>
                                                </ods-chart-query>
                                            </ods-chart>
                                        </div>
                                        <div class="advanced-kpi--bottom">
                                            <div class="advanced-kpi--bottom-second-stage">
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" ng-model="axisRangeToggle4">
                                                    <label class="form-check-label" for="axisRangeToggle4">Achsenbereich zwischen 4 und 5</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </ods-dataset-context>
        </ods-simple-tab>
        <ods-simple-tab label="Wohnviertel-Vergleich">
            <ods-dataset-context context="sauberkeit1,sauberkeit2"
                sauberkeit1-dataset="100362"
                sauberkeit1-parameters="{'sort':'-quartal',
                'disjunctive.wohnviertel':true,
                'disjunctive.quartal':true,
                'disjunctive.jahr':true,
                'disjunctive.quartalsnummer':true}"
                sauberkeit2-dataset="100362"
                sauberkeit2-parameters="{'sort':'-quartal',
                'disjunctive.wohnviertel':true,
                'disjunctive.quartal':true,
                'disjunctive.jahr':true,
                'disjunctive.quartalsnummer':true}">
                <div class="col-md-6">
                    <div class="facet-1">
                        <ods-facets context="sauberkeit1">
                            <h3>
                                <span ng-if="sauberkeit1.parameters['refine.jahr'].length === 0">
                                Jahr <i>(alle)</i>
                                </span>
                                <span ng-if="sauberkeit1.parameters['refine.jahr'].length > 0">
                                Jahr <i>({{ sauberkeit1.parameters['refine.jahr'].join(', ') }})</i>
                                </span>
                            </h3>
                            <div ods-facet-results="jahre"
                                ods-facet-results-context="sauberkeit1"
                                ods-facet-results-facet-name="jahr"
                                ods-facet-results-sort="alphanum">
                                <ods-select options="jahre"
                                    selected-values="sauberkeit1.parameters['refine.jahr']"
                                    placeholder="alle Jahre"
                                    label-modifier="name"
                                    value-modifier="name"
                                    multiple="true"></ods-select>
                            </div>
                            <h3>
                                <span ng-if="sauberkeit1.parameters['refine.quartalsnummer'].length === 0">
                                Quartal <i>(alle)</i>
                                </span>
                                <span ng-if="sauberkeit1.parameters['refine.quartalsnummer'].length > 0">
                                Quartal <i>({{ sauberkeit1.parameters['refine.quartalsnummer'].join(', ') }}. Quartal)</i>
                                </span>
                            </h3>
                            <div ods-facet-results="quartale"
                                ods-facet-results-context="sauberkeit1"
                                ods-facet-results-facet-name="quartalsnummer"
                                ods-facet-results-sort="alphanum">
                                <ods-select options="quartale"
                                    selected-values="sauberkeit1.parameters['refine.quartalsnummer']"
                                    placeholder="alle Quartale"
                                    label-modifier="name + '. Quartal'"
                                    value-modifier="name"
                                    multiple="true"></ods-select>
                            </div>
                        </ods-facets>
                    </div>
                    <div class="map-1">
                        <div class="box white flat">
                            <div class="advanced-kpi">
                                <div class="advanced-kpi--top">
                                    <h3 class="title">
                                        Karte - Sauberkeitsindex (SKI) pro Wohnviertel
                                    </h3>
                                    <i class="description">
                                    Durchschnitt
                                    <span ng-if="sauberkeit1.parameters['refine.quartalsnummer'].length === 0 || sauberkeit1.parameters['refine.quartalsnummer'].length === 4">
                                    aller Quartale
                                    </span>
                                    <span ng-if="sauberkeit1.parameters['refine.quartalsnummer'].length === 3">
                                    {{ sauberkeit1.parameters['refine.quartalsnummer'][0]}}., {{ sauberkeit1.parameters['refine.quartalsnummer'][1]}}. und {{ sauberkeit1.parameters['refine.quartalsnummer'][2]}}. Quartal
                                    </span>
                                    <span ng-if="sauberkeit1.parameters['refine.quartalsnummer'].length > 0 && sauberkeit1.parameters['refine.quartalsnummer'].length < 3">
                                    {{ sauberkeit1.parameters['refine.quartalsnummer'].join('. und ') }}. Quartal
                                    </span>
                                    <span ng-if="sauberkeit1.parameters['refine.jahr'].length === 0">
                                    seit 2021
                                    </span>
                                    <span ng-if="sauberkeit1.parameters['refine.jahr'].length === 1">
                                    für das Jahr {{ sauberkeit1.parameters['refine.jahr'].join(', ') }}
                                    </span>
                                    <span ng-if="sauberkeit1.parameters['refine.jahr'].length > 1">
                                    für die Jahre {{ sauberkeit1.parameters['refine.jahr'].join(', ') }}
                                    </span>
                                    </i>
                                </div>
                                <div class="advanced-kpi--middle no-bg mb-0">
                                    <div class="map-container"
                                        ods-color-gradient="colorgradient1"
                                        ods-color-gradient-context="sauberkeit1"
                                        ods-color-gradient-x="wohnviertel"
                                        ods-color-gradient-serie="AVG(ski)"
                                        ods-color-gradient-high="rgb(180, 197, 241)"
                                        ods-color-gradient-low="rgb(20, 33, 96)">
                                        <ods-map no-refit="true" 
                                            scroll-wheel-zoom="false" 
                                            basemap="9fffa5"
                                            location="12,47.55689,7.58537">
                                            <ods-map-layer-group>
                                                <ods-map-layer context="sauberkeit1" 
                                                    color-categories="colorgradient1['colors']"
                                                    color-by-field="wohnviertel" 
                                                    color-categories-other="lightgrey" 
                                                    display="categories" 
                                                    shape-opacity="1" 
                                                    border-color="#FFFFFF" 
                                                    border-size="1.5" 
                                                    border-pattern="solid" 
                                                    title="Sauberkeitsindex pro Quartal und Wohnviertel" 
                                                    description="Dieser Datensatz enthält den Sauberkeitsindex für alle Wohnviertel in der Stadt Basel.">                                            </ods-map-layer>
                                            </ods-map-layer-group>
                                        </ods-map>
                                        <ods-legend title="Sauberkeitsindex (SKI)"
                                            color-gradient="colorgradient1"
                                            display="linear"
                                            no-value-color="lightgrey"
                                            decimal-precision="0"></ods-legend>
                                    </div>
                                </div>
                                <div class="advanced-kpi--bottom">
                                    <div class="advanced-kpi--bottom-second-stage">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="facet-2">
                        <ods-facets context="sauberkeit2">
                            <h3>
                                <span ng-if="sauberkeit2.parameters['refine.jahr'].length === 0">
                                Jahr <i>(alle)</i>
                                </span>
                                <span ng-if="sauberkeit2.parameters['refine.jahr'].length > 0">
                                Jahr <i>({{ sauberkeit2.parameters['refine.jahr'].join(', ') }})</i>
                                </span>
                            </h3>
                            <div ods-facet-results="jahre"
                                ods-facet-results-context="sauberkeit2"
                                ods-facet-results-facet-name="jahr"
                                ods-facet-results-sort="alphanum">
                                <ods-select options="jahre"
                                    selected-values="sauberkeit2.parameters['refine.jahr']"
                                    placeholder="alle Jahre"
                                    label-modifier="name"
                                    value-modifier="name"
                                    multiple="true"></ods-select>
                            </div>
                            <h3>
                                <span ng-if="sauberkeit2.parameters['refine.quartalsnummer'].length === 0">
                                Quartal <i>(alle)</i>
                                </span>
                                <span ng-if="sauberkeit2.parameters['refine.quartalsnummer'].length > 0">
                                Quartal <i>({{ sauberkeit2.parameters['refine.quartalsnummer'].join(', ') }}. Quartal)</i>
                                </span>
                            </h3>
                            <div ods-facet-results="quartale"
                                ods-facet-results-context="sauberkeit2"
                                ods-facet-results-facet-name="quartalsnummer"
                                ods-facet-results-sort="alphanum">
                                <ods-select options="quartale"
                                    selected-values="sauberkeit2.parameters['refine.quartalsnummer']"
                                    placeholder="alle Quartale"
                                    label-modifier="name + '. Quartal'"
                                    value-modifier="name"
                                    multiple="true"></ods-select>
                            </div>
                        </ods-facets>
                    </div>
                    <div class="map-2">
                        <div class="box white flat">
                            <div class="advanced-kpi">
                                <div class="advanced-kpi--top">
                                    <h3 class="title">
                                        Karte - Sauberkeitsindex (SKI) pro Wohnviertel
                                    </h3>
                                    <i class="description">
                                    Durchschnitt
                                    <span ng-if="sauberkeit2.parameters['refine.quartalsnummer'].length === 0 || sauberkeit2.parameters['refine.quartalsnummer'].length === 4">
                                    aller Quartale
                                    </span>
                                    <span ng-if="sauberkeit2.parameters['refine.quartalsnummer'].length === 3">
                                    {{ sauberkeit2.parameters['refine.quartalsnummer'][0]}}., {{ sauberkeit2.parameters['refine.quartalsnummer'][1]}}. und {{ sauberkeit2.parameters['refine.quartalsnummer'][2]}}. Quartal
                                    </span>
                                    <span ng-if="sauberkeit2.parameters['refine.quartalsnummer'].length > 0 && sauberkeit2.parameters['refine.quartalsnummer'].length < 3">
                                    {{ sauberkeit2.parameters['refine.quartalsnummer'].join('. und ') }}. Quartal
                                    </span>
                                    <span ng-if="sauberkeit2.parameters['refine.jahr'].length === 0">
                                    seit 2021
                                    </span>
                                    <span ng-if="sauberkeit2.parameters['refine.jahr'].length === 1">
                                    für das Jahr {{ sauberkeit2.parameters['refine.jahr'].join(', ') }}
                                    </span>
                                    <span ng-if="sauberkeit2.parameters['refine.jahr'].length > 1">
                                    für die Jahre {{ sauberkeit2.parameters['refine.jahr'].join(', ') }}
                                    </span>
                                    </i>
                                </div>
                                <div class="advanced-kpi--middle no-bg mb-0">
                                    <div class="map-container"
                                        ods-color-gradient="colorgradient2"
                                        ods-color-gradient-context="sauberkeit2"
                                        ods-color-gradient-x="wohnviertel"
                                        ods-color-gradient-serie="AVG(ski)"
                                        ods-color-gradient-high="rgb(180, 197, 241)"
                                        ods-color-gradient-low="rgb(20, 33, 96)">
                                        <ods-map no-refit="true" 
                                            scroll-wheel-zoom="false" 
                                            basemap="9fffa5"
                                            location="12,47.55689,7.58537">
                                            <ods-map-layer-group>
                                                <ods-map-layer context="sauberkeit2" 
                                                    color-categories="colorgradient2['colors']"
                                                    color-by-field="wohnviertel"
                                                    color-categories-other="lightgrey"
                                                    display="categories"
                                                    shape-opacity="1"
                                                    border-color="#FFFFFF" 
                                                    border-opacity="1" 
                                                    border-size="1.5" 
                                                    border-pattern="solid" 
                                                    title="Sauberkeitsindex pro Quartal und Wohnviertel" 
                                                    description="Dieser Datensatz enthält den Sauberkeitsindex für alle Wohnviertel in der Stadt Basel.">
                                                </ods-map-layer>
                                            </ods-map-layer-group>
                                        </ods-map>
                                        <ods-legend title="Sauberkeitsindex (SKI)"
                                            color-gradient="colorgradient2"
                                            display="linear"
                                            no-value-color="lightgrey"
                                            decimal-precision="0"></ods-legend>
                                    </div>
                                </div>
                                <div class="advanced-kpi--bottom">
                                    <div class="advanced-kpi--bottom-second-stage">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 chart-1"
                     ods-color-gradient="colorgradient3"
                     ods-color-gradient-context="sauberkeit1"
                     ods-color-gradient-x="wohnviertel"
                     ods-color-gradient-serie="AVG(ski)"
                     ods-color-gradient-high="rgb(180, 197, 241)"
                     ods-color-gradient-low="rgb(20, 33, 96)">
                    <div class="box white flat">
                        <div class="advanced-kpi">
                            <div class="advanced-kpi--top">
                                <h3 class="title">
                                    Sauberkeitsindex (SKI) pro Wohnviertel
                                </h3>
                                <i class="description">
                                    Durchschnitt
                                    <span ng-if="sauberkeit1.parameters['refine.quartalsnummer'].length === 0 || sauberkeit1.parameters['refine.quartalsnummer'].length === 4">
                                        aller Quartale
                                    </span>
                                    <span ng-if="sauberkeit1.parameters['refine.quartalsnummer'].length === 3">
                                        {{ sauberkeit1.parameters['refine.quartalsnummer'][0]}}., {{ sauberkeit1.parameters['refine.quartalsnummer'][1]}}. und {{ sauberkeit1.parameters['refine.quartalsnummer'][2]}}. Quartal
                                    </span>
                                    <span ng-if="sauberkeit1.parameters['refine.quartalsnummer'].length > 0 && sauberkeit1.parameters['refine.quartalsnummer'].length < 3">
                                        {{ sauberkeit1.parameters['refine.quartalsnummer'].join('. und ') }}. Quartal
                                    </span>
                                    <span ng-if="sauberkeit1.parameters['refine.jahr'].length === 0">
                                        seit 2021
                                    </span>
                                    <span ng-if="sauberkeit1.parameters['refine.jahr'].length === 1">
                                        für das Jahr {{ sauberkeit1.parameters['refine.jahr'].join(', ') }}
                                    </span>
                                    <span ng-if="sauberkeit1.parameters['refine.jahr'].length > 1">
                                        für die Jahre {{ sauberkeit1.parameters['refine.jahr'].join(', ') }}
                                    </span>
                                </i>
                            </div>
                            <div class="advanced-kpi--middle no-bg mb-0">
                                <ods-chart 
                                           style="height:600px"
                                           scientific-display="false"
                                           display-legend="false"
                                           align-month="true"
                                           labels-x-length="20">
                                    <ods-chart-query context="sauberkeit1" 
                                                     field-x="wohnviertel" 
                                                     maxpoints="0"
                                                     sort="serie1-1" 
                                                     category-colors="colorgradient3['colors']">
                                        <ods-chart-serie expression-y="ski"
                                                         chart-type="bar" 
                                                         function-y="AVG" 
                                                         color="range-Accent"
                                                         display-values="true" 
                                                         display-stack-values="false" 
                                                         label-y="Sauberkeitsindex (SKI)"
                                                         min="{{ axisRangeToggle5 ? 4 : 0 }}"
                                                         max="{{ axisRangeToggle5 ? 5 : 5.9 }}"
                                                         step="{{ axisRangeToggle5 ? 0.1 : 1 }}"
                                                         scientific-display="true">
                                        </ods-chart-serie>
                                    </ods-chart-query>
                                </ods-chart>
                            </div>
                            <div class="advanced-kpi--bottom">
                                <div class="advanced-kpi--bottom-second-stage">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" ng-model="axisRangeToggle5">
                                        <label class="form-check-label" for="axisRangeToggle5">Achsenbereich zwischen 4 und 5</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 chart-2"
                     ods-color-gradient="colorgradient4"
                     ods-color-gradient-context="sauberkeit2"
                     ods-color-gradient-x="wohnviertel"
                     ods-color-gradient-serie="AVG(ski)"
                     ods-color-gradient-high="rgb(180, 197, 241)"
                     ods-color-gradient-low="rgb(20, 33, 96)">
                    <div class="box white flat">
                        <div class="advanced-kpi">
                            <div class="advanced-kpi--top">
                                <h3 class="title">
                                    Sauberkeitsindex (SKI) pro Wohnviertel
                                </h3>
                                <i class="description">
                                    Durchschnitt
                                    <span ng-if="sauberkeit2.parameters['refine.quartalsnummer'].length === 0 || sauberkeit2.parameters['refine.quartalsnummer'].length === 4">
                                        aller Quartale
                                    </span>
                                    <span ng-if="sauberkeit2.parameters['refine.quartalsnummer'].length === 3">
                                        {{ sauberkeit2.parameters['refine.quartalsnummer'][0]}}., {{ sauberkeit2.parameters['refine.quartalsnummer'][1]}}. und {{ sauberkeit2.parameters['refine.quartalsnummer'][2]}}. Quartal
                                    </span>
                                    <span ng-if="sauberkeit2.parameters['refine.quartalsnummer'].length > 0 && sauberkeit2.parameters['refine.quartalsnummer'].length < 3">
                                        {{ sauberkeit2.parameters['refine.quartalsnummer'].join('. und ') }}. Quartal
                                    </span>
                                    <span ng-if="sauberkeit2.parameters['refine.jahr'].length === 0">
                                        seit 2021
                                    </span>
                                    <span ng-if="sauberkeit2.parameters['refine.jahr'].length === 1">
                                        für das Jahr {{ sauberkeit2.parameters['refine.jahr'].join(', ') }}
                                    </span>
                                    <span ng-if="sauberkeit2.parameters['refine.jahr'].length > 1">
                                        für die Jahre {{ sauberkeit2.parameters['refine.jahr'].join(', ') }}
                                    </span>
                                </i>
                            </div>
                            <div class="advanced-kpi--middle no-bg mb-0">
                                <ods-chart 
                                           style="height:600px"
                                           scientific-display="false"
                                           display-legend="false"
                                           align-month="true"
                                           labels-x-length="20">
                                    <ods-chart-query context="sauberkeit2" 
                                                     field-x="wohnviertel" 
                                                     maxpoints="0"
                                                     sort="serie1-1" 
                                                     category-colors="colorgradient4['colors']">
                                        <ods-chart-serie expression-y="ski"
                                                         chart-type="bar" 
                                                         function-y="AVG" 
                                                         color="range-Accent"
                                                         display-values="true" 
                                                         display-stack-values="false" 
                                                         label-y="Sauberkeitsindex (SKI)"
                                                         min="{{ axisRangeToggle6 ? 4 : 0 }}"
                                                         max="{{ axisRangeToggle6 ? 5 : 5.9 }}"
                                                         step="{{ axisRangeToggle6 ? 0.1 : 1 }}"
                                                         scientific-display="true">
                                        </ods-chart-serie>
                                    </ods-chart-query>
                                </ods-chart>
                            </div>
                            <div class="advanced-kpi--bottom">
                                <div class="advanced-kpi--bottom-second-stage">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" ng-model="axisRangeToggle6">
                                        <label class="form-check-label" for="axisRangeToggle6">Achsenbereich zwischen 4 und 5</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ods-dataset-context>
        </ods-simple-tab>
    </ods-simple-tabs>        
    </div>
</div>
