/* Base styling for the widget */
* {
    box-sizing: border-box;
    font-family: Inter, Helvetica, sans-serif;
    font-size: 16px;
}

h1 {
    color: #333;
    font-size: 36px;
    margin-bottom: 30px;
}

/* Accordion styles */
.schulferien-container {
    max-width: 1200px;
    margin: 20px auto;
}

.accordion {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    overflow: hidden;
    background-color: transparent;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

/* Switch to 1 column on smaller screens */
@media (max-width: 768px) {
    .accordion {
        grid-template-columns: 1fr;
    }
}

.year-accordion {
    margin-bottom: 15px;
}

.accordion__label,
.accordion__content {
    padding: 15px;
    box-sizing: border-box;
    width: 100%;
}

.accordion__label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    position: relative;
    transition: background 0.1s;
    background-color: #FFFFFF;
    border: 1px solid #C2CEC3;
    border-radius: 10px;
    margin-bottom: 0;
    color: #1E4557;
    font-weight: bold;
    font-size: 18px;
}

.accordion__label:hover {
    color: #146C8B;
    border: 1px solid #8A908B;
}

.accordion__label::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    width: 12px;
    height: 6px;
    background-image: url('data:image/svg+xml;utf8,<svg width="100" height="50" xmlns="http://www.w3.org/2000/svg"><polygon points="0,0 100,0 50,50" style="fill:%231E4557;" /></svg>');
    background-size: contain;
    transition: transform 0.4s;
}

.accordion__content {
    background: #FFFFFF;
    line-height: 1.6;
    color: #333333;
    display: none;
    margin: 0;
    border-left: 1px solid #8A908B;
    border-right: 1px solid #8A908B;
    border-bottom: 1px solid #8A908B;
    border-radius: 0 0 10px 10px;
    padding: 20px;
}

.accordion__input {
    display: none;
}

.accordion__input:checked ~ .accordion__content {
    display: block;
}

.accordion__input:checked ~ .accordion__label::after {
    transform: translateY(-50%) rotate(0.5turn);
}

.accordion__input:checked ~ .accordion__label {
    border-bottom: none;
    border-radius: 10px 10px 0 0;
    border-color: #8A908B;
}

/* Holiday table styles */
.holiday-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.holiday-table th, .holiday-table td {
    padding: 10px 15px;
    text-align: left;
    border-bottom: 1px solid #eee;
}

.holiday-table th {
    font-weight: bold;
    color: #333;
    border-bottom: 1px solid #000;
    text-align: left;
}

th.begin-column, th.end-column {
    color: #2A9749;
    font-weight: bold;
}

.holiday-type {
    font-weight: bold;
    color: #333;
}

.date {
    text-align: left;
}
