<ANY ods-datetime="datetime"></ANY>

<div ng-init="currentYear = (datetime|moment:'YYYY')">
    <div ods-dataset-context context="schulferien" 
        schulferien-domain="https://data.bs.ch"
        schulferien-dataset="100397"
        schulferien-parameters='{"q": "year:"+currentYear+" AND (name:\"Fasnachts- und Sportferien\" OR name:\"Fruehjahrsferien\" OR name:\"Sommerferien\" OR name:\"Herbstferien\" OR name:\"Weihnachtsferien\")", "sort": "-start_date"}'>
        
        <table class="holiday-table">
            <thead>
                <tr>
                    <th></th>
                    <th class="begin-column">Beginn</th>
                    <th class="end-column">Ende</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in items" ods-results="items" ods-results-context="schulferien">
                    <td class="holiday-type">
                        <span ng-if="item.fields.name == 'Fasnachts- und Sportferien'">Fasnacht</span>
                        <span ng-if="item.fields.name == 'Fruehjahrsferien'">Frühling</span>
                        <span ng-if="item.fields.name == 'Sommerferien'">Sommer</span>
                        <span ng-if="item.fields.name == 'Herbstferien'">Herbst</span>
                        <span ng-if="item.fields.name == 'Weihnachtsferien'">Weihnachten</span>
                    </td>
                    <td class="date">{{ item.fields.start_date | date:'d. MMMM' }}</td>
                    <td class="date">{{ item.fields.end_date | date:'d. MMMM' }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
