/* Base styling for the widget */
* {
    box-sizing: border-box;
    font-family: Inter, Helvetica, sans-serif;
    font-size: 16px;
}

h1 {
    color: #333;
    font-size: 36px;
    margin-bottom: 30px;
}

.holiday-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    max-width: 1200px;
}

.holiday-table th, .holiday-table td {
    padding: 10px 15px;
    text-align: left;
    border-bottom: 1px solid #eee;
}

.holiday-table th {
    font-weight: bold;
    color: #333;
    border-bottom: 1px solid #000;
    text-align: left;
}

th.begin-column, th.end-column {
    color: #2A9749;
    font-weight: bold;
}

.holiday-type {
    font-weight: bold;
    color: #333;
}

.date {
    text-align: left;
}
