<ods-dataset-context context="initctx"
    initctx-dataset="strassenverkehrsunfalle">
    <div ods-analysis="lastyearanalysis"
        ods-analysis-context="initctx"
        ods-analysis-x="vu_jahr.year"
        ods-analysis-serie-count="COUNT()">
        {{ lastyear = lastyearanalysis.results[lastyearanalysis.results.length - 1].x.year; '' }}
    </div>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <ods-dataset-context ng-if="lastyear"
        context="myctx,veloctx,motorctx,fussctx" 
        myctx-dataset="100120" 
        myctx-parameters="{'disjunctive.vu_typ':true,
        'disjunctive.vu_schwerekategorie':true,
        'disjunctive.vu_strassenart':true,
        'disjunctive.vu_wochentag':true,
        'disjunctive.vu_jahr':true,
        'disjunctive.vu_stunde':true,
        'disjunctive.vu_monat':true,                  
        'refine.vu_jahr': '' + lastyear,
        'sort':'vu_jahr'}"
        veloctx-dataset="100120" 
        veloctx-parameters="{'refine.vu_fahrradbeteiligung':'true',
        'disjunctive.vu_typ':true,
        'disjunctive.vu_schwerekategorie':true,
        'disjunctive.vu_strassenart':true,
        'disjunctive.vu_wochentag':true,
        'disjunctive.vu_jahr':true,
        'disjunctive.vu_stunde':true,
        'disjunctive.vu_monat':true,                     
        'sort':'vu_jahr'}"
        motorctx-dataset="100120" 
        motorctx-parameters="{'refine.vu_motorradbeteiligung':'true',
        'disjunctive.vu_typ':true,
        'disjunctive.vu_schwerekategorie':true,
        'disjunctive.vu_strassenart':true,
        'disjunctive.vu_wochentag':true,
        'disjunctive.vu_jahr':true,
        'disjunctive.vu_stunde':true,
        'disjunctive.vu_monat':true,                     
        'sort':'vu_jahr'}"
        fussctx-dataset="100120" 
        fussctx-parameters="{'refine.vu_fussgaengerbeteiligung':'true',
        'disjunctive.vu_typ':true,
        'disjunctive.vu_schwerekategorie':true,
        'disjunctive.vu_strassenart':true,
        'disjunctive.vu_wochentag':true,
        'disjunctive.vu_jahr':true,
        'disjunctive.vu_stunde':true,
        'disjunctive.vu_monat':true,                    
        'sort':'vu_jahr'}"
        >
        {{ 
        veloctx.parameters['refine.vu_typ'] = myctx.parameters['refine.vu_typ'] ;
        veloctx.parameters['refine.vu_schwerekategorie'] = myctx.parameters['refine.vu_schwerekategorie'] ;
        veloctx.parameters['refine.vu_strassenart'] = myctx.parameters['refine.vu_strassenart'] ;
        veloctx.parameters['refine.vu_wochentag'] = myctx.parameters['refine.vu_wochentag'] ;
        veloctx.parameters['refine.vu_fussgaengerbeteiligung'] = myctx.parameters['refine.vu_fussgaengerbeteiligung'] ;
        veloctx.parameters['refine.vu_motorradbeteiligung'] = myctx.parameters['refine.vu_motorradbeteiligung'] ;
        veloctx.parameters['refine.vu_jahr'] = myctx.parameters['refine.vu_jahr'] ;
        veloctx.parameters['refine.vu_stunde'] = myctx.parameters['refine.vu_stunde'] ;
        veloctx.parameters['refine.vu_monat'] = myctx.parameters['refine.vu_monat'] ;
        motorctx.parameters['refine.vu_typ'] = myctx.parameters['refine.vu_typ'] ;
        motorctx.parameters['refine.vu_schwerekategorie'] = myctx.parameters['refine.vu_schwerekategorie'] ;
        motorctx.parameters['refine.vu_strassenart'] = myctx.parameters['refine.vu_strassenart'] ;
        motorctx.parameters['refine.vu_vu_wochentag'] = myctx.parameters['refine.vu_wochentag'] ;
        motorctx.parameters['refine.vu_fussgaengerbeteiligung'] = myctx.parameters['refine.vu_fussgaengerbeteiligung'] ;
        motorctx.parameters['refine.vu_fahrradbeteiligung'] = myctx.parameters['refine.vu_fahrradbeteiligung'] ;
        motorctx.parameters['refine.vu_jahr'] = myctx.parameters['refine.vu_jahr'] ;
        motorctx.parameters['refine.vu_stunde'] = myctx.parameters['refine.vu_stunde'] ;
        motorctx.parameters['refine.vu_monat'] = myctx.parameters['refine.vu_monat'] ;
        fussctx.parameters['refine.vu_typ'] = myctx.parameters['refine.vu_typ'] ;
        fussctx.parameters['refine.vu_schwerekategorie'] = myctx.parameters['refine.vu_schwerekategorie'] ;
        fussctx.parameters['refine.vu_strassenart'] = myctx.parameters['refine.vu_strassenart'] ;
        fussctx.parameters['refine.vu_wochentag'] = myctx.parameters['refine.vu_wochentag'] ;
        fussctx.parameters['refine.vu_motorradbeteiligung'] = myctx.parameters['refine.vu_motorradbeteiligung'] ;
        fussctx.parameters['refine.vu_fahrradbeteiligung'] = myctx.parameters['refine.vu_fahrradbeteiligung'] ;
        fussctx.parameters['refine.vu_jahr'] = myctx.parameters['refine.vu_jahr'] ;
        fussctx.parameters['refine.vu_stunde'] = myctx.parameters['refine.vu_stunde'] ;
        fussctx.parameters['refine.vu_monat'] = myctx.parameters['refine.vu_monat'] ;'';
        }}
        <div class="fullpage-app">
            <div class="rightmodal"
                ng-init="modalswitchstatus">
                <div class="backdrop"
                    ng-click="modalswitchstatus = !modalswitchstatus"
                    ng-class="{'backdrop-active':modalswitchstatus}">
                </div>
                <div class="modal" 
                    ng-class="{'modal-active':modalswitchstatus,
                    'modal-filterson': (stats.parameters | values).length > 0}">
                    <div class="modal__leftside"
                         ng-click="modalswitchstatus = !modalswitchstatus">
                        <div class="modal__leftside__icon">
                            <i class="fa fa-angle-double-up" aria-hidden="true">
                            </i>    
                        </div>
                        <div class="modal__leftside__padding">
                            <ods-filter-summary context="myctx">
                            </ods-filter-summary>
                        </div>
                        <div class="a">
                            <h3>
                                Filter
                            </h3>
                        </div>
                    </div>
                    <div 
                        class="modal__rightside">
                        <div 
                            class="modal__header"
                            ng-click="modalswitchstatus = !modalswitchstatus">
                        </div>
                        <div 
                            class="modal__content">
                            <ods-facets 
                                context="myctx">
                            </ods-facets>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cell-1 box flat">
                Aktive Filter:   
            <ods-filter-summary context="myctx">
                {{ refinements }}
            </ods-filter-summary>
            </div>    
            <div class="content">
                <div class="container-fluid">
                    <div class="grid-cols-12 gap-1" style="margin-right:35px">
                        <div class="lg:cell-3 cell-full gap-1">
                            <div class="cell-1 box1 blue flat">
                                    <!--KPI for Total -->
                                    <p class="kpi-title blue"
                                        ods-aggregation="Total"
                                        ods-aggregation-context="myctx"
                                        ods-aggregation-function="COUNT">
                                        {{ Total | number }}
                                    </p>
                                <div>
                                    <p  class="kpi-description blue"
                                        ods-results="results"
                                        ods-results-context="myctx"
                                        ods-results-max=1
                                        >
                                        Total polizeilich registrierte Verkehrsunfälle
                                    </p>
                                </div>
                             <!--   <div ng-if="myctx.parameters['refine.vu_jahr']">
                                    <p  class="kpi-description blue"
                                        ods-results="results"
                                        ods-results-context="myctx"
                                        ods-results-max=1
                                        >
                                        Total polizeilich registrierte Verkehrsunfälle ({{ results[0].fields.vu_jahr}})
                                    </p>
                                </div>
                                <div ng-if="!myctx.parameters['refine.vu_jahr']">
                                    <p  class="kpi-description blue"
                                        ods-results="results"
                                        ods-results-context="myctx"
                                        ods-results-max=1
                                        >
                                        Total polizeilich registrierte Verkehrsunfälle (2011 - {{lastyear}})
                                    </p>
                                </div> -->
                            </div>
                            <!--KPI for Pedestrians -->                     
                            <div class="cell-1 box1 white flat">
                            <div class="timeline-bottom" >        
                                <i class="material-icons"style="font-size:60px;">directions_run</i>
                                    <p ng-if="myctx.parameters['refine.vu_fussgaengerbeteiligung'] != 'false'"
                                        class="kpi-title"
                                        ods-aggregation="Fuss"
                                        ods-aggregation-context="fussctx"
                                        ods-aggregation-function="COUNT">
                                        {{ Fuss | number }}
                                    </p>
                                    <p ng-if="myctx.parameters['refine.vu_fussgaengerbeteiligung'] == 'false'"
                                        class="kpi-title">
                                        0
                                    </p> 
                                </div>
                                <p class="kpi-description">
                                    mit Fussgängerbeteiligung
                                </p>
                            </div>
                            <!--KPI for bikes -->     
                            <div class="cell-1 box1 white flat">
                             <div class="timeline-bottom" > 
                                 <i class="material-icons"style="font-size:60px;">directions_bike</i>
                                    <p ng-if="myctx.parameters['refine.vu_fahrradbeteiligung'] != 'false'"
                                        class="kpi-title"
                                        ods-aggregation="Velo"
                                        ods-aggregation-context="veloctx"
                                        ods-aggregation-function="COUNT">
                                        {{result=( Velo | number)}}
                                    </p>
                                    <p ng-if="myctx.parameters['refine.vu_fahrradbeteiligung'] == 'false'"
                                        class="kpi-title">
                                        0
                                    </p>
                                </div>
                                <p class="kpi-description">
                                    mit Fahrradbeteiligung
                                </p>
                            </div>
                            <!--KPI for Motorbikes -->                    
                            <div class="cell-1 box1 white flat">
                                 <div class="timeline-bottom" > 
                                     <i class="kpi-icon fa fa-motorcycle" aria-hidden="true"></i>
                                    <p ng-if="myctx.parameters['refine.vu_motorradbeteiligung'] != 'false'"
                                        class="kpi-title"
                                        ods-aggregation="Motor"
                                        ods-aggregation-context="motorctx"
                                        ods-aggregation-function="COUNT">
                                        {{ Motor | number }}
                                    </p>
                                    <p ng-if="myctx.parameters['refine.vu_motorradbeteiligung'] == 'false'"
                                        class="kpi-title">
                                        0
                                    </p>
                                </div>
                                <p class="kpi-description">
                                    mit Motorradbeteiligung
                                </p>
                            </div>
                        </div>
                        <!--Map --> 
                        <div class="lg:cell-6 cell-full gap-1">
                            <ods-dataset-context
                                context="uspctx" 
                                uspctx-dataset="100216">
                                <div ods-adv-analysis="dateanalysis"
                                             ods-adv-analysis-context="uspctx"
                                             ods-adv-analysis-select="max(vu_jahr) as maxdate">
                               {{uspctx.parameters['refine.vu_jahr'] = (dateanalysis[0].maxdate|date : "yyyy");''}} 
                                </div>
                                <div class="cell-1 box white flat">
                                    <ods-map style="height: 500px"
                                        scroll-wheel-zoom="true" 
                                        basemap="jawg.light"
                                        search-box="false"
                                        location="12,47.56198,7.62439"
                                        toolbar-fullscreen="false" 
                                        toolbar-geolocation="true"
                                        no-refit="true"
                                        display-control="true">
                                        <ods-map-layer-group>
                                            <ods-map-layer context="myctx" 
                                                color="#a6bddb"
                                                picto="dot" 
                                                show-marker="false" 
                                                display="auto" 
                                                function="COUNT" 
                                                expression="begehrenid" 
                                                shape-opacity="0.5" 
                                                point-opacity="1" 
                                                border-color="#FFFFFF" 
                                                border-opacity="1" 
                                                border-size="1" 
                                                border-pattern="solid"
                                                size="6"
                                                size-function="linear"
                                                title="Verkehrsunfälle"
                                                caption-picto-color="#8DB9D8"
                                                >
                                            </ods-map-layer>
                                        </ods-map-layer-group>
                                        <ods-map-layer-group>
                                            <ods-map-layer context="uspctx"
                                                picto="dot"
                                                show-marker="false"
                                                display="categories"
                                                shape-opacity="0.5"
                                                point-opacity="1"
                                                border-color="#1c3d50"
                                                border-opacity="1"
                                                border-size="1"
                                                border-pattern="solid"
                                                size="10"
                                                title="Unfallschwerpunkte"
                                                color="#1c3d50"
                                                caption-picto-color="#1c3d50"
                                                >
                                            </ods-map-layer>
                                        </ods-map-layer-group>
                                    </ods-map>
                                    <br>
                                </div>
                            </ods-dataset-context>
                        </div>
                        <!--Chart Accident Date-->                 
                        <div class="lg:cell-3 cell-full gap-1">
                            <div class="cell-1 box white flat">
                                <h3>
                                    Unfälle pro Jahr
                                </h3>
                                <ods-chart single-y-axis="true" label-x=""  style="height: 100%"  align-month="true" display-legend="false">
                                    <ods-chart-query context="myctx" field-x="vu_jahr" maxpoints="0" timescale="year">
                                        <ods-chart-serie chart-type="bar" function-y="COUNT" color="#1c3d50" scientific-display="true">
                                        </ods-chart-serie>
                                    </ods-chart-query>
                                </ods-chart>
                            </div>
                            <!--Chart Accident Weekday-->         
                            <div class="cell-1 box white flat">
                                <h3>
                                    Unfälle pro Wochentag
                                </h3>
                                <ods-chart single-y-axis="true"  label-x="" style="height: 100%" align-month="true" display-legend="false" labels-x-length="14">
                                    <ods-chart-query context="myctx" field-x="vu_wochentag" maxpoints="0">
                                        <ods-chart-serie chart-type="bar" function-y="COUNT" color="#1c3d50" scientific-display="true">
                                        </ods-chart-serie>
                                    </ods-chart-query>
                                </ods-chart>
                            </div>
                        </div>
                        <!--Barchart Severity-->        
                        <div class="md:cell-3 cell-full gap-1">
                            <div class="cell-1 box white flat">
                                <h3>
                                    Unfälle nach Schwerekategorie
                                </h3>
                                <ods-chart display-legend="true" label-x="" style="height: 100%" labels-x-length="0" align-month="false">
                                    <ods-chart-query context="myctx" field-x="vu_jahr" maxpoints="0" timescale="year" reverse-stacks="true" stacked="normal" series-breakdown="vu_schwerekategorie" category-colors="{'1 Unfall mit Sachschaden':'#a6bddb','2 Unfall mit Leichtverletzten':'#74a9cf','3 Unfall mit Schwerverletzten':'#2b8cbe','4 Unfall mit Getöteten':'#045a8d'}">
                                        <ods-chart-serie chart-type="bar" function-y="COUNT" color="range-Paired" display-values="false" display-stack-values="false" scientific-display="true">
                                        </ods-chart-serie>
                                    </ods-chart-query>
                                </ods-chart>
                            </div>
                        </div>
                        <!--Linechart Severitycategory-->       
                        <div class="md:cell-6 cell-full gap-1">
                            <div class="cell-1 box white flat">
                                <h3>
                                    Unfälle nach Unfalltyp
                                </h3>
                                <ods-chart labels-x-length="20" style="height: 90%"single-y-axis="true" display-legend="false" align-month="true"label-x="">
                                    <ods-chart-query context="myctx" field-x="vu_typ" maxpoints="0" sort="serie1-1">
                                        <ods-chart-serie chart-type="column" function-y="COUNT" color="#1c3d50" display-values="true" scientific-display="false">
                                        </ods-chart-serie>
                                    </ods-chart-query>
                                </ods-chart>
                            </div>
                        </div>
                        <!--Chart Hour-->        
                        <div class="md:cell-3 cell-full gap-1">
                            <div class="cell-1 box white flat">
                                <h3>
                                    Unfälle nach Tageszeit
                                </h3>
                                <ods-chart label-x="" style="height: 100%" align-month="true" display-legend="false">
                                    <ods-chart-query context="myctx" field-x="vu_stunde" maxpoints="0">
                                        <ods-chart-serie chart-type="bar" function-y="COUNT" color="#1c3d50" scientific-display="true">
                                        </ods-chart-serie>
                                    </ods-chart-query>
                                </ods-chart>
                            </div>
                        </div>
                    </div>
                    <p style="margin-top:11px">    
                        Datengrundlage: <a href="https://www.astra.admin.ch/astra/de/home/dokumentation/daten-informationsprodukte/unfalldaten.html" target="_blank">www.unfalldaten.ch</a>
                        Kontakt: <a href="https://www.polizei.bs.ch/verkehr/verkehrssicherheit.html" target="_blank">Kantonspolizei Basel-Stadt, Abteilung Verkehrssicherheit</a><br />
                        Datenquelle: Kantonales Datenportal, <a href="https://data.bs.ch/explore/dataset/100120/table/" target="_blank">Datensatz zu Strassenverkehrsunfällen</a>
                    </p>
                </div>
            </div>
        </div>
    </ods-dataset-context>
</ods-dataset-context>
<!-- Boris Djakovic
    for further information contact boris.djakovic@bs.ch-->
